{% extends 'base1.html' %}

{% block header_js %}
    <link rel="stylesheet" href="/static/plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/static/css/components.css">
    <link rel="stylesheet" href="/static/css/jpage.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="/static/plugins/morris/morris.css">

{% endblock %}


{% block content %}
    <div class="box box-solid" id="tablebox" style="padding-left: 20px">
        <div class="box-header with-border">
            <h3>属性管理</h3>
        </div>
        <div class="box-body">
            <div class="nav-tabs-custom">
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs pull-left">
                <li {% if request.path == '/attribute/page_attribute/' %}class="active" {% endif %}><a href="#M" data-toggle="tab">M成熟度</a></li>
                <li ><a href="#I" data-toggle="tab">I自由度</a></li>
                <li ><a href="#B" data-toggle="tab">B业务</a></li>
                <li ><a href="#T" data-toggle="tab">T技术形态</a></li>
            </ul>
            <div style="clear:both"></div>
            <div class="tab-content">

                <div class="table-container no-padding tab-pane active" id="M" style="padding:14px">
                    <div class="table-actions-wrapper">

                        <div class="box-header with-border">
                            <h3 class="box-title">基本信息</h3>
                        </div>
                         <table border="1"id='attribute'class="table table-bordered table-hover" style="text-align: left">
                                    <tbody>
                                    {% for attr in attributes %}
                                        {% if attr.ACT == 'a' and attr.attribute == 'M' %}
                                            <tr>
                                                <td style="width: 100px;"><b>属性</b></td>
                                                <td>{{ attr.attribute }}</td>
                                            </tr>
                                             <tr>
                                                <td style="width: 100px"><b>含义</b></td>
                                                <td>{{ attr.meaning }}</td>
                                            </tr>
                                             <tr>
                                                <td style="width: 100px"><b>备注</b></td>
                                                <td>{{ attr.information }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    <button class="btn btn-sm pull-right green" style="height: 30px" data-toggle="modal" data-target="#attribute-edit"><i class="fa fa-edit"></i> 修改属性</button>
                                    </tbody>
                                </table>

                        <hr style="height: 5px;border-top: 5px double skyblue"/>
                        <div class="box-header with-border">
                                <h3 class="box-title">属性分类</h3>
                        </div>
                        <table border="1"id='attrclass'class="table table-bordered table-hover" style="text-align: center">
                                    <thead>
                                    <tr>
                                        <th style="text-align: center;width: 150px">属性</th>
                                        <th style="text-align: center;width: 150px">大类</th>
                                        <th style="text-align: center;width: 150px">小类</th>
                                        <th style="text-align: center;width: 250px">含义</th>
                                        <th style="text-align: center;width: 250px">备注</th>
                                        <th style="text-align: center;width: 250px">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for attr in attributes %}
                                        {% if attr.ACT != 'a' and attr.attribute == 'M' %}
                                            <tr>
                                                <td>{{ attr.attribute }}</td>
                                                <td>{{ attr.first_class }}</td>
                                                <td>{{ attr.second_class }}</td>
                                                <td>{{ attr.meaning }}</td>
                                                <td>{{ attr.information }}</td>
                                                <td>
                                                    <button type="button"class="btn  btn-success btn-sm green" data-toggle="modal" data-target="#class-edit">修改</button>
                                                    <button type="button" class="btn  btn-danger btn-sm red" data-toggle="modal" data-target="#class-delete" >删除</button>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    <button class="btn btn-sm pull-right blue" style="height: 30px" data-toggle="modal" data-target="#class-add"><i class="fa fa-plus"></i> 增加分类</button>

                                    </tbody>
                                </table>
                    </div>
                </div>{#                        M结束#}

                <div class="table-container no-padding tab-pane" id="I" style="padding:14px">
                    <div class="table-actions-wrapper">


                         <div class="box-header with-border">
                            <h3 class="box-title">基本信息</h3>
                         </div>
                        <table border="1"id='attribute'class="table table-bordered table-hover" style="text-align: left">
                                    <tbody>
                                    {% for attr in attributes %}
                                        {% if attr.ACT == 'a' and attr.attribute == 'I' %}
                                            <tr>
                                                <td style="width: 100px;"><b>属性</b></td>
                                                <td>{{ attr.attribute }}</td>
                                            </tr>
                                             <tr>
                                                <td style="width: 100px"><b>含义</b></td>
                                                <td>{{ attr.meaning }}</td>
                                            </tr>
                                             <tr>
                                                <td style="width: 100px"><b>备注</b></td>
                                                <td>{{ attr.information }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    <button class="btn btn-sm pull-right green" style="height: 30px" data-toggle="modal" data-target="#attribute-edit"><i class="fa fa-edit"></i> 修改属性</button>
                                    </tbody>
                                </table>


                        <hr style="height: 5px;border: none;border-top: 5px double skyblue"/>
                        <div class="box-header with-border">
                                <h3 class="box-title">属性分类</h3>
                        </div>
                    <table border="1"id='attrclass'class="table table-bordered table-hover" style="text-align: center">
                                    <thead>
                                    <tr>
                                        <th style="text-align: center;width: 150px">属性</th>
                                        <th style="text-align: center;width: 150px">大类</th>
                                        <th style="text-align: center;width: 150px">小类</th>
                                        <th style="text-align: center;width: 250px">含义</th>
                                        <th style="text-align: center;width: 250px">备注</th>
                                        <th style="text-align: center;width: 250px">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for attr in attributes %}
                                        {% if attr.ACT != 'a' and attr.attribute == 'I' %}
                                            <tr>
                                                <td>{{ attr.attribute }}</td>
                                                <td>{{ attr.first_class }}</td>
                                                <td>{{ attr.second_class }}</td>
                                                <td>{{ attr.meaning }}</td>
                                                <td>{{ attr.information }}</td>
                                                <td>
                                                    <button type="button"class="btn  btn-success btn-sm green" data-toggle="modal" data-target="#class-edit">修改</button>
                                                    <button type="button" class="btn  btn-danger btn-sm red" data-toggle="modal" data-target="#class-delete" >删除</button>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                      <button class="btn btn-sm pull-right blue" style="height: 30px" data-toggle="modal" data-target="#class-add"><i class="fa fa-plus"></i> 增加分类</button>

                                    </tbody>
                                </table>
                    </div>
                </div>

                <div class="table-container no-padding tab-pane" id="B" style="padding:14px">
                    <div class="table-actions-wrapper">

                         <div class="box-header with-border">
                            <h3 class="box-title">基本信息</h3>
                         </div>
                         <table border="1"id='attribute'class="table table-bordered table-hover" style="text-align: left">
                                    <tbody>
                                    {% for attr in attributes %}
                                        {% if attr.ACT == 'a' and attr.attribute == 'B' %}
                                            <tr>
                                                <td style="width: 100px;"><b>属性</b></td>
                                                <td>{{ attr.attribute }}</td>
                                            </tr>
                                             <tr>
                                                <td style="width: 100px"><b>含义</b></td>
                                                <td>{{ attr.meaning }}</td>
                                            </tr>
                                             <tr>
                                                <td style="width: 100px"><b>备注</b></td>
                                                <td>{{ attr.information }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    <button class="btn btn-sm pull-right green" style="height: 30px" data-toggle="modal" data-target="#attribute-edit"><i class="fa fa-edit"></i> 修改属性</button>
                                    </tbody>
                                </table>

                        <hr style="height: 5px;border: none;border-top: 5px double skyblue"/>
                        <div class="box-header with-border">
                                <h3 class="box-title">属性分类</h3>
                        </div>


                    <table border="1"id='attrclass'class="table table-bordered table-hover" style="text-align: center">
                                    <thead>
                                    <tr>
                                        <th style="text-align: center;width: 150px">属性</th>
                                        <th style="text-align: center;width: 150px">大类</th>
                                        <th style="text-align: center;width: 150px">小类</th>
                                        <th style="text-align: center;width: 250px">含义</th>
                                        <th style="text-align: center;width: 250px">备注</th>
                                        <th style="text-align: center;width: 250px">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for attr in attributes %}
                                        {% if attr.ACT != 'a' and attr.attribute == 'B' %}
                                            <tr>
                                                <td>{{ attr.attribute }}</td>
                                                <td>{{ attr.first_class }}</td>
                                                <td>{{ attr.second_class }}</td>
                                                <td>{{ attr.meaning }}</td>
                                                <td>{{ attr.information }}</td>
                                                <td>
                                                    <button type="button"class="btn  btn-success btn-sm green" data-toggle="modal" data-target="#class-edit">修改</button>
                                                    <button type="button" class="btn  btn-danger btn-sm red" data-toggle="modal" data-target="#class-delete" >删除</button>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                      <button class="btn btn-sm pull-right blue" style="height: 30px" data-toggle="modal" data-target="#class-add"><i class="fa fa-plus"></i> 增加分类</button>

                                    </tbody>
                                </table>
                    </div>
                </div>

                <div class="table-container no-padding tab-pane" id="T" style="padding:14px">
                    <div class="table-actions-wrapper">

                         <div class="box-header with-border">
                            <h3 class="box-title">基本信息</h3>
                         </div>
                         <table border="1"id='attribute'class="table table-bordered table-hover" style="text-align: left">
                                    <tbody>
                                    {% for attr in attributes %}
                                        {% if attr.ACT == 'a' and attr.attribute == 'T' %}
                                            <tr>
                                                <td style="width: 100px;"><b>属性</b></td>
                                                <td>{{ attr.attribute }}</td>
                                            </tr>
                                             <tr>
                                                <td style="width: 100px"><b>含义</b></td>
                                                <td>{{ attr.meaning }}</td>
                                            </tr>
                                             <tr>
                                                <td style="width: 100px"><b>备注</b></td>
                                                <td>{{ attr.information }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    <button class="btn btn-sm pull-right green" style="height: 30px" data-toggle="modal" data-target="#attribute-edit"><i class="fa fa-edit"></i> 修改属性</button>
                                    </tbody>
                                </table>

                        <hr style="height: 5px;border: none;border-top: 5px double skyblue"/>
                        <div class="box-header with-border">
                                <h3 class="box-title">属性分类</h3>
                        </div>



                 <table border="1"id='attrclass'class="table table-bordered table-hover" style="text-align: center">
                                    <thead>
                                    <tr>
                                        <th style="text-align: center;width: 150px">属性</th>
                                        <th style="text-align: center;width: 150px">大类</th>
                                        <th style="text-align: center;width: 150px">小类</th>
                                        <th style="text-align: center;width: 250px">含义</th>
                                        <th style="text-align: center;width: 250px">备注</th>
                                        <th style="text-align: center;width: 250px">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for attr in attributes %}
                                        {% if attr.ACT != 'a' and attr.attribute == 'T' %}
                                            <tr>
                                                <td>{{ attr.attribute }}</td>
                                                <td>{{ attr.first_class }}</td>
                                                <td>{{ attr.second_class }}</td>
                                                <td>{{ attr.meaning }}</td>
                                                <td>{{ attr.information }}</td>
                                                <td>
                                                    <button type="button"class="btn  btn-success btn-sm green" data-toggle="modal" data-target="#class-edit">修改</button>
                                                    <button type="button" class="btn  btn-danger btn-sm red" data-toggle="modal" data-target="#class-delete" >删除</button>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    <button class="btn btn-sm pull-right blue" style="height: 30px" data-toggle="modal" data-target="#class-add"><i class="fa fa-plus"></i> 增加分类</button>

                                    </tbody>
                                </table>
                        {#                        T结束#}
                    </div>
                </div>

                <div class="modal fade" id="attribute-edit" role="dialog" aria-labelledby="addLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
                                <h4 class="modal-title" id="addLabel" style="font-weight:bold">修改属性（带有<span style="color:red">*</span>标识的为必填项）</h4>
                            </div>
                            <div class="modal-body">
                                <div class="box box-primary">
                                    <br>
                            <form style=";float:none" class="form-horizontal" method="post" action="">
                                {% csrf_token %}
                                <div class="form-group" style="margin-top: 0">

                                    <div class="col-sm-6" style=";height:45px;width:600px">
                                        <div class="col-sm-2" style="text-align: left">
                                            <label for="attr_edit" class="control-label">属性<span style="color:red">*</span></label>
                                        </div>
                                        <div class="col-sm-10" style="text-align: right">
                                            <input type="text" id="attr_edit" name="attr_edit" placeholder="请输入属性" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-sm-6" style="height:45px;width:600px">
                                            <div class="col-sm-2" style="text-align: left">
                                                <label for="meaning_edit" class="control-label">含义<span style="color:red">*</span></label>
                                            </div>
                                            <div class="col-sm-10" style="text-align: right">
                                                <input type="text"  id="meaning_edit" name="meaning_edit" class="form-control" value="" placeholder="请输入含义">
                                            </div>
                                    </div>


                                    <div class="col-sm-6" style="height:45px;width:600px;text-align: center">
                                            <div class="col-sm-2" style="text-align: left">
                                                <label for="information_edit" class="control-label">备注</label>
                                            </div>
                                            <div class="col-sm-10" style="text-align: right">
                                                <textarea   id="information_edit" name="information_edit" class="form-control" value="" placeholder="请输入备注"></textarea>
                                            </div>
                                    </div>

                                </div>

                                <div class="modal-footer" style="text-align: center">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="submit" class="btn btn-primary">确认</button>
                                </div>
                            </form>
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>

                <div class="modal fade" id="class-edit" role="dialog" aria-labelledby="addLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
                                <h4 class="modal-title" id="addLabel" style="font-weight:bold">修改分类（带有<span style="color:red">*</span>标识的为必填项）</h4>
                            </div>
                            <div class="modal-body">
                                <div class="box box-primary">
                                    <br>
                            <form style=";float:none" class="form-horizontal" method="post" action="">
                                {% csrf_token %}
                                <div class="form-group" style="margin-top: 0">
                                    <div class="col-sm-10" style=";height:45px;width:600px">

                                            <div class="col-sm-2" style="text-align: left">
                                                <label for="attribute_edit" class="control-label">属性<span style="color:red">*</span></label>
                                            </div>
                                            <div class="col-sm-10" style="text-align: right">
                                                <input type="text" id="attribute_edit" name="attribute_edit" placeholder="请输入属性" class="form-control" required/>
                                            </div>

                                    </div>
                                     <div class="col-sm-10" style=";height:45px;width:600px">

                                            <div class="col-sm-2" style="text-align: left">
                                                <label for="first_class_edit" class="control-label">大类<span style="color:red">*</span></label>
                                            </div>
                                            <div class="col-sm-10" style="text-align: right">
                                                <input type="text" id="first_class_edit" name="first_class_edit" placeholder="请输入大类" class="form-control" required/>

                                        </div>
                                    </div>
                                     <div class="col-sm-10" style=";height:45px;width:600px">

                                            <div class="col-sm-2" style="text-align: left">
                                                <label for="second_class_edit" class="control-label">小类</label>
                                            </div>
                                            <div class="col-sm-10" style="text-align: right">
                                                <input type="text" id="second_class_edit" name="second_class_edit" placeholder="请输入小类" class="form-control">
                                            </div>

                                    </div>

                                    <div class="col-sm-10" style="height:45px;width:600px">

                                            <div class="col-sm-2" style="text-align: left">
                                                <label for="meaning_edit" class="control-label">含义<span style="color:red">*</span></label>
                                            </div>
                                            <div class="col-sm-10" style="text-align: right">
                                                <input type="text" id="meaning_edit" name="meaning_edit" class="form-control" value="" placeholder="请输入含义" required/>
                                            </div>

                                    </div>

                                    <div class="col-sm-10" style="height:45px;width:600px">
                                            <div class="col-sm-2" style="text-align: left">
                                            <label for="information_edit" class="control-label">备注</label>
                                            </div>
                                            <div class="col-sm-10" style="text-align: right">
                                                <textarea   id="information_edit" name="information_edit" class="form-control" value="" placeholder="请输入备注"></textarea>
                                            </div>
                                    </div>

                                </div>


                                <div class="modal-footer" style="text-align: center">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="submit" class="btn btn-primary">确认</button>
                                </div>
{#                                {% if result.statu == 'success' %}#}
{#                                    <div class="modal fade" role="dialog" aria-labelledby="addLabel" aria-hidden="true">#}
{#                                    <div class="modal-dialog">#}
{#                                        <div class="modal-content">#}
{#                                            <p style="color: #00a65a">增加成功</p>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    </div>#}
{#                                {% elif result.statu == 'error' %}#}
{#                                    <div class="modal fade" role="dialog" aria-labelledby="addLabel" aria-hidden="true">#}
{#                                    <div class="modal-dialog">#}
{#                                        <div class="modal-content">#}
{#                                            <p style="color: #00a65a">请添加正确信息</p>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    </div>#}
{#                                {% endif %}#}
                            </form>
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>

                <div class="modal fade" id="class-add" role="dialog" aria-labelledby="addLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
                                <h4 class="modal-title" id="addLabel" style="font-weight:bold">增加分类（带有<span style="color:red">*</span>标识的为必填项）</h4>
                            </div>
                            <div class="modal-body">
                                <div class="box box-primary">
                                    <br>
                            <form style=";float:none" class="form-horizontal" method="post" action="">
                                {% csrf_token %}
                                <div class="form-group" style="margin-top: 0">
                                    <div class="col-sm-10" style=";height:45px;width:600px">

                                            <div class="col-sm-2" style="text-align: left">
                                                <label for="attribute_add" class="control-label">属性<span style="color:red">*</span></label>
                                            </div>
                                            <div class="col-sm-10" style="text-align: right">
                                                <input type="text" id="attribute_add" name="attribute_add" placeholder="请输入属性" class="form-control" required/>
                                            </div>

                                    </div>
                                     <div class="col-sm-10" style=";height:45px;width:600px">

                                            <div class="col-sm-2" style="text-align: left">
                                                <label for="first_class_add" class="control-label">大类<span style="color:red">*</span></label>
                                            </div>
                                            <div class="col-sm-10" style="text-align: right">
                                                <input type="text" id="first_class_add" name="first_class_add" placeholder="请输入大类" class="form-control" required/>

                                        </div>
                                    </div>
                                     <div class="col-sm-10" style=";height:45px;width:600px">

                                            <div class="col-sm-2" style="text-align: left">
                                                <label for="second_class_add" class="control-label">小类</label>
                                            </div>
                                            <div class="col-sm-10" style="text-align: right">
                                                <input type="text" id="second_class_add" name="second_class_add" placeholder="请输入小类" class="form-control">
                                            </div>

                                    </div>

                                    <div class="col-sm-10" style="height:45px;width:600px">

                                            <div class="col-sm-2" style="text-align: left">
                                                <label for="meaning_add" class="control-label">含义<span style="color:red">*</span></label>
                                            </div>
                                            <div class="col-sm-10" style="text-align: right">
                                                <input type="text" id="meaning_add" name="meaning_add" class="form-control" value="" placeholder="请输入含义" required/>
                                            </div>

                                    </div>

                                    <div class="col-sm-10" style="height:45px;width:600px">
                                            <div class="col-sm-2" style="text-align: left">
                                            <label for="information_add" class="control-label">备注</label>
                                            </div>
                                            <div class="col-sm-10" style="text-align: right">
                                                <textarea   id="information_add" name="information_add" class="form-control" value="" placeholder="请输入备注"></textarea>
                                            </div>
                                    </div>

                                </div>


                                <div class="modal-footer" style="text-align: center">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="submit" class="btn btn-primary">确认</button>
                                </div>
{#                                {% if result.statu == 'success' %}#}
{#                                    <div class="modal fade" role="dialog" aria-labelledby="addLabel" aria-hidden="true">#}
{#                                    <div class="modal-dialog">#}
{#                                        <div class="modal-content">#}
{#                                            <p style="color: #00a65a">增加成功</p>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    </div>#}
{#                                {% elif result.statu == 'error' %}#}
{#                                    <div class="modal fade" role="dialog" aria-labelledby="addLabel" aria-hidden="true">#}
{#                                    <div class="modal-dialog">#}
{#                                        <div class="modal-content">#}
{#                                            <p style="color: #00a65a">请添加正确信息</p>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    </div>#}
{#                                {% endif %}#}
                            </form>
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>

                <div class="modal fade" id="class-delete" role="dialog" aria-labelledby="addLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" style="color:green" data-dismiss="modal" aria-hidden="false"></button>
                                <h4 class="modal-title" id="addLabel" style="font-weight:bold">删除警告</h4>
                            </div>
                            <form style=";float:none" class="form-horizontal" method="post" action="">
                                {% csrf_token %}
                                <div class="modal-form" style="margin-top: 0">



                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">确认</button>
                                </div>
                            </form>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
{#                结束#}
            </div>
        </div>
        </div>
    </div>
{% endblock %}

{% block footer_js %}
    <!-- Morris.js charts -->
    <script src="/static/js/raphael/raphael-min.js"></script>
    <script src="/static/plugins/morris/morris.min.js"></script>
    <script src="/static/plugins/jquery.blockui.min.js"></script>
    <script src="/static/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/static/js/metronic.js"></script>
    <script src="/static/js/table-ext.js"></script>
    <script src="/static/js/datatable.js"></script>
    <script src="/static/js/jPages.js"></script>

{% endblock %}
