{% extends 'base1.html' %}

{% block header_js %}
    <link rel="stylesheet" href="/static/plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/static/css/components.css">
    <link rel="stylesheet" href="/static/css/jpage.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="/static/plugins/morris/morris.css">


{% endblock %}


{% block content %}
    <div class="box box-solid" id="tablebox" style="padding-left: 30px;padding-right: 30px">
        <div class="box-header with-border">

            <label style="margin-top: 0"><h3 style="margin-top: 20px;margin-bottom: 10px">产品列表</h3></label>
            <form method="post" action="{% url 'page_show_product' %}">
                {% csrf_token %}
                <button type="submit" class="pull-right btn btn-default" style="margin-top: 20px;margin-bottom: 10px">
                    返回<i class="fa fa-arrow-circle-right"></i></button>
            </form>
        </div>

        <div class="box-body">
            <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <div style="clear:both"></div>

                <div class="table-container no-padding tab-pane active" id="" style="padding:14px">
                    <div class="table-actions-wrapper">
                        <table border="1" id='product_detail' class="table table-bordered table-hover"
                               style="text-align: left">
                            <tbody>
                            <tr>
                                <th style="vertical-align: middle;text-align:center; width: 150px" bgcolor="#f0ffff">
                                    <b>产品名称</b>
                                <th style="vertical-align: middle;text-align:center;width: 150px" bgcolor="#f0ffff">
                                    <b>公司名称</b>
                                <th style="vertical-align: middle;text-align:center;width: 150px" bgcolor="#f0ffff">
                                    <b>成熟度</b>
                                <th style="vertical-align: middle;text-align:center;width: 150px" bgcolor="#f0ffff">
                                    <b>自主度</b>
                                <th style="vertical-align: middle;text-align:center; width: 150px" bgcolor="#f0ffff">
                                    <b>业务领域</b>
                                <th style="vertical-align: middle;text-align:center;width: 150px" bgcolor="#f0ffff">
                                    <b>技术形态</b>
                                <th style="vertical-align: middle;text-align:center; width: 150px" bgcolor="#f0ffff">
                                    <b>发布时间</b>
                            </tr>
                            <tr>

                            </tr>
                            {% for i in product_list %}
                                <tr>
                                    <td style="vertical-align: middle;text-align:center"><a
                                            href="/product_search/page_product_detail/{{ i.id }}">{{ i.product_name }}</a>
                                    </td>
                                    <td style="vertical-align: middle;text-align:center">{{ i.pCompany_name }}</td>
                                    <td style="vertical-align: middle;text-align:center">{{ i.maturity_name }}</td>
                                    <td style="vertical-align: middle;text-align:center">{{ i.independence_name }}</td>
                                    <td style="vertical-align: middle;text-align:center">{{ i.business_name }}</td>
                                    <td style="vertical-align: middle;text-align:center">{{ i.technology_name }}</td>
                                    <td style="vertical-align: middle;text-align:center">{{ i.pass_time }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer_js %}
    <!-- Morris.js charts -->
    <script src="/static/js/raphael/raphael-min.js"></script>
    <script src="/static/plugins/morris/morris.min.js"></script>
    <script src="/static/plugins/jquery.blockui.min.js"></script>
    <script src="/static/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/static/js/metronic.js"></script>
    <script src="/static/js/table-ext.js"></script>
    <script src="/static/js/datatable.js"></script>
    <script src="/static/js/jPages.js"></script>
    <script src="/static/plugins/jQuery/jquery-2.2.3.min.js"></script>
{% endblock %}
