<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>找回密码</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/static/plugins/iCheck/square/blue.css">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="javascript:;">航天长峰产品信息管理</a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">找回密码</p>
        <div id="start_findpassword">
            {% csrf_token %}
            <div class="form-group has-feedback">
                <label for="username" style="font-weight: 400;margin-bottom: 10px">请填写用户名称:</label>
                <input type="text" class="form-control input-inline" placeholder="用户名" name="username" id="username">
                <span class="glyphicon glyphicon-envelope form-control-feedback" style="margin-top: 5px"></span>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <button type="button" class="btn btn-primary btn-block btn-flat"
                        onclick="start_findpassword()">确定</button>
                </div>
            </div>
        </div>
        <div id="check_email" hidden>
            <div class="form-group has-feedback">
                <label for="email" style="font-weight: 400">
                    尊敬的<span id="pre_username"></span>,请验证您的预留邮箱:
                    <br><span id="pre_email"></span>
                </label>
                <input type="email" class="form-control input-inline" placeholder="邮箱" name="email" id="email">
                <span class="glyphicon glyphicon-envelope form-control-feedback" style="margin-top: 40px"></span>
                <input type="hidden" id="true_pre_email">
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <button type="button" class="btn btn-primary btn-block btn-flat"
                        onclick="check_email()">确定</button>
                </div>
            </div>
        </div>
        <div id="success_info" hidden>您已成功提交重置密码申请,<br>请登陆您的邮箱后点击链接重置密码!</div>
        <div id="warnPlace" style="color:red"></div>
    </div>
</div>
<script src="/static/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/plugins/iCheck/icheck.min.js"></script>
<script src="/static/js/jquery.form.js"></script>
<script>
    function start_findpassword(){
        $('#warnPlace').html("")
        $.ajax({
            url:'/start_findpassword/',
            type:'POST',
            data:{
                "username":$.trim($('#username').val()),
                'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val()
            },
            success:function(res){
                if(res.status===-1) {
                    $('#warnPlace').html("用户名不正确!")
                }
                else{
                    $('#start_findpassword').hide()
                    $('#check_email').show()
                    $('#true_pre_email').val(res.email)
                    var true_email = res.email
                    var end = true_email.indexOf("@")
                    if(end>1){
                        var first=true_email[0]
                        var middle= true_email.substring(1,end)
                        var last = true_email.substring(end,true_email.length)
                        for(var i=0;i<end;i++){
                            middle= middle.replace(middle[i],"*")
                        }
                        var instead = first+middle+last
                    }
                    $('#pre_email').html(instead)
                    $('#pre_username').html(res.username)
                }
            },
            error:function(res){
                $('#warnPlace').html("服务器出错了!")
            }
        })
    }
    function check_email(){
        $('#warnPlace').html("")
        var email = $.trim($('#email').val())
        if(email!==$('#true_pre_email').val()){
            $('#warnPlace').html("输入的邮箱错误!")
        }
        else{
            $.ajax({
                url:'/check_email/',
                type:'POST',
                data:{
                    "username":$.trim($('#username').val()),
                    "email":email,
                    'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val()
                },
                success:function(res){
                    console.log(res)
                    if(res.status ===0)
                    {
                        $('#check_email').hide()
                        $('#success_info').show()
                    }
                },
                error:function(){
                    $('#warnPlace').html("服务器出错了!")
                }

            })
        }
    }
</script>
</body>
</html>