{% extends 'base1.html' %}

{% block header_js %}
    <link rel="stylesheet" href="/static/plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/static/css/components.css">
    <link rel="stylesheet" href="/static/css/jpage.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="/static/plugins/morris/morris.css">
    <style>
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            top: -2px
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 23px
        }

        .select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
            height: 28px
        }
    </style>
{% endblock %}


{% block content %}
    <div class="box box-solid" id="tablebox" style="padding-left: 20px">
        <div class="box-header with-border">
            <h3>提交产品信息</h3>
        </div>
        <div class="box-body">
            <div class="nav-tabs-custom">
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs pull-left">
                <li {% if request.path == '/product_management/page_new_product/' %}class="active" {% endif %}><a href="#new" data-toggle="tab">新建产品</a></li>
                <li><a href="#update" data-toggle="tab">更新产品</a></li>
                <li {% if request.path == '/product_management/upload_many/' %}class="active" {% endif %}><a href="#waitsubmit" data-toggle="tab">待提交</a></li>
                <li><a href="#waitpass" data-toggle="tab">待审核</a></li>
                <li><a href="#passed" data-toggle="tab">已审核</a></li>
            </ul>
            <div style="clear:both"></div>
            <div class="tab-content">
                <div class="table-container no-padding tab-pane active" id="new" style="padding:14px">
                    <div class="table-actions-wrapper">

                        <a type="button" class="btn btn-default"  target="_blank"
                        href="/static/documents/template.xlsx" download="产品信息模版.xlsx">批量新建产品excel模版下载</a>

                        <div class="modal fade" id="many" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="height: 400px">
                                    <div class="modal-header" style="margin-top: 100px">
                                        <h3 class="modal-title" id="myModalLabel">批量上传产品</h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="box box-primary">
                                            <form id="manyuploadForm" class="form-horizontal" enctype="multipart/form-data" method="post">
                                            {% csrf_token %}
                                            <div class="box-body">
                                            <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                <label class="control-label">请上传包含产品信息的文件(.xlsx)*请使用指定模版进行批量上传</label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="file" class="form-control" name="excel" id="excel" accept=".xlsx,.xls" required/>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                <label class="control-label">请上传包含审批信息的压缩文件(.zip)</label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="file" class="form-control" name="zip" id="zip" accept=".zip,.rar" required/>
                                                </div>
                                            </div>
                                            </div>
                                            </div>
                                            <div class="modal-footer" style="width:50%">
                                                <button type="submit" class="btn btn-primary">提交</button>
                                                <button class="btn btn-default" data-dismiss="modal">关闭</button>
                                            </div>
                                            </form>
                                        </div>
                                    </div>


                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal -->
                        </div>

                        <button type="button" class="btn btn-default"  data-toggle="modal" data-target="#many">
                            <i class="fa fa-plus"></i> 批量新建产品
                        </button>

                        <a href="/product_management/edit_product/0" type="button" class="btn btn-default">
                        单个新建产品</a>
                    </div>
                </div>

                <div class="table-container no-padding tab-pane" id="update" style="padding:14px">
                    <div class="table-actions-wrapper">
                    <label>产品名称</label>
                        <input type="text" class="form-control input-inline input-middle input-sm form-filter"
                               name="product_name__icontains" placeholder="产品名称" style="width: 200px">
                        <label>公司</label>
                        <select class="form-control input-inline input-small input-sm form-filter select"
                                name="pCompany" data-placeholder='公司'>
                            <option value=''></option>
                            {% for s in company_choice %}
                                <option value="{{ s.0 }}">{{ s.1 }}</option>
                            {% endfor %}
                        </select>
                        <label>申请类型</label>
                        <select class="form-control input-inline input-small input-sm form-filter select"
                                name="apply_type" data-placeholder='申请类型'>
                            <option value=''></option>
                            {% for s in apply_choice %}
                                <option value="{{ s.0 }}">{{ s.1 }}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-sm yellow filter-submit"><i class="fa fa-search"></i> 查询</button>
                        <button class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i> 取消查询</button>
                        <button class="btn btn-sm green checkall" id="checkall"><i class="fa fa-check"></i> 全选/反选</button>
                        <button class="btn btn-sm blue checkall" id="update_many"><i class="fa fa-plus"></i> 批量更新</button>
                    </div>
                    <table class="table table-striped table-bordered table-hover dataTable no-footer"
                    id="update_table" style="word-break: keep-all">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                    <div style="text-align: right">
                        <a href="javascript:;"><button class="btn btn-sm btn-warning" id="invalid_many"><i class="fa fa-warning "></i> 停用</button></a>
                        <a href="javascript:;"><button class="btn btn-sm btn-danger" id="delete_many"><i class="fa fa-times"></i> 删除</button></a>
                    </div>
                </div>

                <div class="table-container no-padding tab-pane" id="waitsubmit" style="padding:14px">
                    <div class="table-actions-wrapper">
                    <label>产品名称</label>
                        <input type="text" class="form-control input-inline input-middle input-sm form-filter"
                               name="product_name__icontains" placeholder="产品名称" style="width: 200px">
                        <label>公司</label>
                        <select class="form-control input-inline input-small input-sm form-filter select"
                                name="pCompany" data-placeholder='公司'>
                            <option value=''></option>
                            {% for s in company_choice %}
                                <option value="{{ s.0 }}">{{ s.1 }}</option>
                            {% endfor %}
                        </select>
                        <label>申请类型</label>
                        <select class="form-control input-inline input-small input-sm form-filter select"
                                name="apply_type" data-placeholder='申请类型'>
                            <option value=''></option>
                            {% for s in apply_choice %}
                                <option value="{{ s.0 }}">{{ s.1 }}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-sm yellow filter-submit"><i class="fa fa-search"></i> 查询</button>
                        <button class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i> 取消查询</button>
                        <button class="btn btn-sm green checkall" id="checkall"><i class="fa fa-check"></i> 全选/反选</button>
                    </div>
                    <table class="table table-striped table-bordered table-hover dataTable no-footer"
                    id="waitsubmit_table" style="word-break: keep-all">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                    <div>

                    {% if file_names %}待提交文件：
                        {% for s in file_names %}
                            <a href="/product_management/wait_submit/delete_file/{{ s.1 }}/"
                             class="btn btn-default" type="button"> {{ s.0 }}<i class="fa fa-times"></i></a>
                        {% endfor %}
                    {% else %}

                    {% endif %}
                    </div>
                    <div style="text-align: right">
                        <a href="javascript:;"><button class="btn btn-sm btn-danger" id="cancel_submit"><i class="fa fa-times"></i> 取消</button></a>
                        <a href="javascript:;"><button class="btn btn-sm btn-info" id="submit"><i class="fa fa-check"></i> 提交</button></a>
                    </div>
                </div>

                <div class="table-container no-padding tab-pane" id="waitpass" style="padding:14px">
                    <div class="table-actions-wrapper">
                    <label>产品名称</label>
                        <input type="text" class="form-control input-inline input-middle input-sm form-filter"
                               name="product_name__icontains" placeholder="产品名称" style="width: 200px">
                        <label>公司</label>
                        <select class="form-control input-inline input-small input-sm form-filter select"
                                name="pCompany" data-placeholder='公司'>
                            <option value=''></option>
                            {% for s in company_choice %}
                                <option value="{{ s.0 }}">{{ s.1 }}</option>
                            {% endfor %}
                        </select>
                        <label>申请类型</label>
                        <select class="form-control input-inline input-small input-sm form-filter select"
                                name="apply_type" data-placeholder='申请类型'>
                            <option value=''></option>
                            {% for s in apply_choice %}
                                <option value="{{ s.0 }}">{{ s.1 }}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-sm yellow filter-submit"><i class="fa fa-search"></i> 查询</button>
                        <button class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i> 取消查询</button>
                    </div>
                    <table class="table table-striped table-bordered table-hover dataTable no-footer"
                        id="waitpass_table" style="word-break: keep-all">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>

                <div class="table-container no-padding tab-pane" id="passed" style="padding:14px">
                    <div class="table-actions-wrapper">
                    <label>产品名称</label>
                        <input type="text" class="form-control input-inline input-middle input-sm form-filter"
                               name="product_name__icontains" placeholder="产品名称" style="width: 200px">
                        <label>公司</label>
                        <select class="form-control input-inline input-small input-sm form-filter select"
                                name="pCompany" data-placeholder='公司'>
                            <option value=''></option>
                            {% for s in company_choice %}
                                <option value="{{ s.0 }}">{{ s.1 }}</option>
                            {% endfor %}
                        </select>
                        <label>申请类型</label>
                        <select class="form-control input-inline input-small input-sm form-filter select"
                                name="apply_type" data-placeholder='申请类型'>
                            <option value=''></option>
                            {% for s in apply_choice %}
                                <option value="{{ s.0 }}">{{ s.1 }}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-sm yellow filter-submit"><i class="fa fa-search"></i> 查询</button>
                        <button class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i> 取消查询</button>
                    </div>
                    <table class="table table-striped table-bordered table-hover dataTable no-footer"
                        id="passed_table" style="word-break: keep-all">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

        </div>
    </div>
{% endblock %}

{% block footer_js %}
    <!-- Morris.js charts -->
    <script src="/static/js/raphael/raphael-min.js"></script>
    <script src="/static/plugins/morris/morris.min.js"></script>
    <script src="/static/plugins/jquery.blockui.min.js"></script>
    <script src="/static/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/static/js/metronic.js"></script>
    <script src="/static/js/table-ext.js"></script>
    <script src="/static/js/datatable.js"></script>
    <script src="/static/js/jPages.js"></script>
    <script src="/static/js/product/update.js"></script>
    <script src="/static/js/product/waitsubmit.js"></script>
    <script src="/static/js/product/waitpass.js"></script>
    <script src="/static/js/product/passed.js"></script>

    <script>
        UpdateTable.init();
        WaitSubmitTable.init();
        WaitPassTable.init();
        PassedTable.init();
        //批量上传文件
        $("#manyuploadForm").ajaxForm({
            type: "post",
            url: "/product_management/new_many/",    //提交到的url
            success: function (data) {
                if (data.success) {
                    location.href = "";
                } else {
                    $.growlService(data.error_message, {type: "danger"})
                }
            }
        });
        function formError(element, obj) {
            $.each(obj, function (key, val) {
                $("" + element + " input[name='" + key + "']").parent().parent().addClass("has-error");
                $("" + element + " input[name='" + key + "']").parent().next().html(val)
            })
        }



    </script>
{% endblock %}
