{% extends 'base1.html' %}

{% block header_js %}
    <link rel="stylesheet" href="/static/plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/static/css/components.css">
    <link rel="stylesheet" href="/static/css/jpage.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="/static/plugins/morris/morris.css">
{% endblock %}


{% block content %}

    <div class="box box-solid" id="tablebox" style="padding-left: 20px">
        <div class="box-header with-border">
            <h3>产品审核</h3>
        </div>

        <div class="box-body">
            <div class="nav-tabs-custom">
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs pull-left">
{#                <li ><a href="#waitcheck" data-toggle="tab">待审核</a></li>#}
                <li {% if request.path == '/product_management/page_pass_product/' %}class="active" {% endif %}><a href="#waitcheck" data-toggle="tab">待审核</a></li>
                <li {% if request.path == '/product_management/page_checked_product/' %}class="active" {% endif %}><a href="#checked" data-toggle="tab">已审核</a></li>
            </ul>
            <div style="clear:both"></div>

            <div class="tab-content">

                <div {% if request.path == '/product_management/page_pass_product/' %} class="active table-container no-padding tab-pane" {% endif %} class="table-container no-padding tab-pane" id="waitcheck" style="padding:14px">
                    <button class="btn btn-sm green checkall" id="checkall"><i class="fa fa-check"></i> 全选/反选</button>
                    <table class="table table-striped table-bordered table-hover dataTable no-footer"
                        id="waitcheck_table" style="word-break: keep-all">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                    <div style="text-align: right">
                        <a href="javascript:;"><button class="btn btn-sm btn-info" id="submit"><i class="fa fa-check"></i> 通过</button></a>
                        <a href="javascript:;"><button class="btn btn-sm btn-danger" id="cancel"><i class="fa fa-times"></i> 不通过</button></a>
                    </div>
                </div>

                <div {% if request.path == '/product_management/page_checked_product/' %} class="active table-container no-padding tab-pane" {% endif %} class="table-container no-padding tab-pane" id="checked" style="padding:14px">
                    <table class="table table-striped table-bordered table-hover dataTable no-footer"
                        id="checked_table" style="word-break: keep-all">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            </div>
        </div>


    </div>




{% endblock %}

{% block footer_js %}
    <!-- Morris.js charts -->
    <script src="/static/js/raphael/raphael-min.js"></script>
    <script src="/static/plugins/morris/morris.min.js"></script>

    <script src="/static/plugins/jquery.blockui.min.js"></script>
    <script src="/static/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/static/js/metronic.js"></script>
    <script src="/static/js/table-ext.js"></script>
    <script src="/static/js/datatable.js"></script>
    <script src="/static/js/jPages.js"></script>
    <script src="/static/js/product/waitcheck.js"></script>
    <script src="/static/js/product/checked.js"></script>

    <script>
        WaitCheckTable.init();
        CheckedTable.init();
    </script>

{% endblock %}
