{% extends 'base1.html' %}

{% block header_js %}
    <link rel="stylesheet" href="/static/plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/static/css/components.css">
    <link rel="stylesheet" href="/static/css/jpage.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="/static/plugins/morris/morris.css">
{% endblock %}


{% block content %}
<div class="box box-solid" style="padding-left: 100px;">
    <div>
        <h3 class="box-header with-border" style="margin-top: 0;padding-top: 30px">
            角色权限管理
            <input type="button" class="btn btn-large btn-primary" data-toggle="modal" data-target="#add"
                   value="新增角色" style="margin-left: 750px;font-size:18px" onclick="goAdd()">
        </h3>
    </div>
    <div class="box-body">
        <table id="group_permission_table" class="table table-hover">
            <thead>
                <tr>
                    <th style="text-align: center">角色|权限</th>
                    <th style="text-align: center">产品信息查询</th>
                    <th style="text-align: center">产品信息管理—新建</th>
                    <th style="text-align: center">产品信息管理—更新</th>
                    <th style="text-align: center">产品信息管理—审核</th>
                    <th style="text-align: center">产品属性管理</th>
                    <th style="text-align: center">用户权限管理—用户</th>
                    <th style="text-align: center">用户权限管理—角色</th>
                    <th style="text-align: center">操作</th>
                </tr>
            </thead>
            <tbody id="role_info_table">
            {% for group in group_list %}
                {% ifequal group.name "无权限角色" %}
                <tr hidden></tr>
                {% else %}
                <tr id="{{ group.id }}" >
                    <td style="text-align: center" onclick="get_group_company('{{ group.id }}')">{{ group.name }}</td>
                    <td style="text-align: center">
                        {% if "product_information_inquiry" in group.perm_list %}
                            <div class="glyphicon glyphicon-ok" style="margin: 0 auto"></div>
                        {% endif %}
                    </td>
                    <td style="text-align: center">
                        {% if "product_information_manage_new" in group.perm_list %}
                            <div class="glyphicon glyphicon-ok" style="margin: 0 auto"></div>
                        {% endif %}
                    </td>
                    <td style="text-align: center">
                        {% if "product_information_manage_update" in group.perm_list %}
                            <div class="glyphicon glyphicon-ok" style="margin: 0 auto"></div>
                        {% endif %}
                    </td>
                    <td style="text-align: center">
                        {% if "product_information_manege_check" in group.perm_list %}
                            <div class="glyphicon glyphicon-ok" style="margin: 0 auto"></div>
                        {% endif %}
                    </td>
                    <td style="text-align: center">
                        {% if "product_attribute_management" in group.perm_list %}
                            <div class="glyphicon glyphicon-ok" style="margin: 0 auto"></div>
                        {% endif %}
                    </td>
                    <td style="text-align: center">
                        {% if "user_right_management_user" in group.perm_list %}
                            <div class="glyphicon glyphicon-ok" style="margin: 0 auto"></div>
                        {% endif %}
                    </td>
                    <td style="text-align: center">
                        {% if "user_right_management_role" in group.perm_list %}
                            <div class="glyphicon glyphicon-ok" style="margin: 0 auto"></div>
                        {% endif %}
                    </td>
                    <td>
                        {% ifequal group.name "超级管理员" %}
                            <button type="button" class="btn btn-success btn-sm" disabled title="系统内置角色无法修改"
                            data-toggle="modal" data-target="#modify" onclick="goModify('{{ group.id }}')">修改</button>
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" title="系统内置角色无法删除"
                                    data-target="#delete" disabled onclick="goDelete('{{ group.id }}')">删除</button>
                        {% else %}
                            <button type="button" class="btn btn-success btn-sm"
                            data-toggle="modal" data-target="#modify" onclick="goModify('{{ group.id }}')">修改</button>
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                    data-target="#delete" onclick="goDelete('{{ group.id }}')">删除</button>
                        {% endifequal %}
                    </td>
                </tr>
                {% endifequal %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="add" tabindex="-1"
     role="dialog" aria-labelledby="addLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
                <h5 class="modal-title" id="addLabel" style="font-weight:bold">新增角色(角色名称为必填项)</h5>
            </div>
            <form style=";float:none" class="form-horizontal">
                {% csrf_token %}
                <div class="modal-form" style="margin-top: 0">
                    <div class="col-sm-12" style="margin-top: 5px">
                        <label for="add_name" class="control-label" style="width:70px;text-align: right">
                            <span style="color:red;width:20px">*</span>角色名称</label>
                        <input type="text" id="add_name" name="add_name"
                               placeholder="请输入角色名称" class="form-control input-inline" style="width: 200px">
                    </div>
                    <div class="col-sm-12" style="margin-top: 5px">
                        <label for="add_perm1" class="control-label" style="width:90px;text-align: right">产品信息查询</label>
                        <input type="checkbox" id="add_perm1" name="add_perm1" class="checkbox input-inline">
                        <label for="add_perm2" class="control-label" style="width:130px;text-align: right;margin-left: 20px">产品信息管理—新建</label>
                        <input type="checkbox" id="add_perm2" name="add_perm2" class="checkbox input-inline">
                        <label for="add_perm3" class="control-label" style="width:130px;text-align: right;margin-left: 20px">产品信息管理—更新</label>
                        <input type="checkbox" id="add_perm3" name="add_perm3" class="checkbox input-inline">
                    </div>
                    <div class="col-sm-12" style="margin-top: 5px">
                        <label for="add_perm4" class="control-label" style="width:132px;text-align: right">产品信息管理—审核</label>
                        <input type="checkbox" id="add_perm4" name="add_perm4" class="checkbox input-inline">
                        <label for="add_perm5" class="control-label" style="width:90px;text-align: right;margin-left: 20px">产品属性管理</label>
                        <input type="checkbox" id="add_perm5" name="add_perm5" class="checkbox input-inline">
                        <label for="add_perm6" class="control-label" style="width:130px;text-align: right;margin-left: 20px">用户权限管理—用户</label>
                        <input type="checkbox" id="add_perm6" name="add_perm6" class="checkbox input-inline">
                    </div>
                    <div class="col-sm-12" style="margin-top: 5px">
                        <label for="add_perm7" class="control-label" style="width:132px;text-align: right;">用户权限管理—角色</label>
                        <input type="checkbox" id="add_perm7" name="add_perm7" class="checkbox input-inline">
                    </div>
                </div>
                <div class="col-sm-12" id="err_message" style="height:30px;margin-top: 5px;color:red"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="add()">确认</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
    </div>
<div class="modal fade" id="modify" tabindex="-1"
     role="dialog" aria-labelledby="modifyLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
                <h5 class="modal-title" id="modifyLabel" style="font-weight:bold">修改角色信息(角色名称为必填项)</h5>
            </div>
            <form style=";float:none" class="form-horizontal">
                {% csrf_token %}
                <input type="hidden" id="modify_id">
                <div class="modal-form" style="margin-top: 0">
                    <div class="col-sm-12" style="margin-top: 5px">
                        <label for="modify_name" class="control-label" style="width:70px;text-align: right"><span style="color:red;width:20px">*</span>角色名称</label>
                        <input type="text" id="modify_name" name="modify_name"
                               placeholder="请输入角色名称" class="form-control input-inline" style="width: 200px">
                    </div>
                    <div class="col-sm-12" style="margin-top: 5px">
                        <label for="modify_perm1" class="control-label" style="width:90px;text-align: right">产品信息查询</label>
                        <input type="checkbox" id="modify_perm1" name="modify_perm1" class="checkbox input-inline">
                        <label for="modify_perm2" class="control-label" style="width:130px;text-align: right;margin-left: 20px">产品信息管理—新建</label>
                        <input type="checkbox" id="modify_perm2" name="modify_perm2" class="checkbox input-inline">
                        <label for="modify_perm3" class="control-label" style="width:130px;text-align: right;margin-left: 20px">产品信息管理—更新</label>
                        <input type="checkbox" id="modify_perm3" name="modify_perm3" class="checkbox input-inline">
                    </div>
                    <div class="col-sm-12" style="margin-top: 5px">
                        <label for="modify_perm4" class="control-label" style="width:132px;text-align: right">产品信息管理—审核</label>
                        <input type="checkbox" id="modify_perm4" name="modify_perm4" class="checkbox input-inline">
                        <label for="modify_perm5" class="control-label" style="width:90px;text-align: right;margin-left: 20px">产品属性管理</label>
                        <input type="checkbox" id="modify_perm5" name="modify_perm5" class="checkbox input-inline">
                        <label for="modify_perm6" class="control-label" style="width:130px;text-align: right;margin-left: 20px">用户权限管理—用户</label>
                        <input type="checkbox" id="modify_perm6" name="modify_perm6" class="checkbox input-inline">
                    </div>
                    <div class="col-sm-12" style="margin-top: 5px">
                        <label for="modify_perm7" class="control-label" style="width:132px;text-align: right;">用户权限管理—角色</label>
                        <input type="checkbox" id="modify_perm7" name="modify_perm7" class="checkbox input-inline">
                    </div>
                </div>
                <div class="col-sm-12"  style="height:30px;margin-top: 5px;color:red" id="err_message2"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="modify()">确认</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
    </div>
<div class="modal fade" id="delete" tabindex="-1"
     role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title" id="deleteLabel" style="font-weight: bold">删除该角色</h5>
            </div>
            <div class="modal-body" style="padding-top: 0">
                这将删除角色&nbsp;<span id="s_delete"></span>&nbsp;,属于该角色的用户将被定义为无权限角色,
                确定删除吗?请及时对无权限角色的用户做出改动。
            </div>
            <input type="hidden" id="delete_id">
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger" onclick="Delete_it()">确认</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
    </div>
{#<div class="modal fade" id="modify_company" tabindex="-1"#}
{#     role="dialog" aria-labelledby="modifyLabel" aria-hidden="true">#}
{#    <div class="modal-dialog">#}
{#        <div class="modal-content">#}
{#            <div class="modal-header">#}
{#                <button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>#}
{#                <h5 class="modal-title" id="modifyLabel" style="font-weight:bold">#}
{#                    查看/修改角色&nbsp;<span id="group_for_Com"></span>&nbsp;的关联公司</h5>#}
{#            </div>#}
{#            <form style=";float:none" class="form-horizontal">#}
{#                {% csrf_token %}#}
{#                <input type="hidden" id="modify_company_id">#}
{#                <div class="modal-form" style="margin-top: 0">#}
{#                    <div class="col-sm-12">#}
{#                        <label for="c0" class="control-label" style="width:70px;text-align: right;">所属公司</label>#}
{#                        <input type="checkbox" id="c0" name="com" class="checkbox input-inline" value="0">#}
{#                        <label for="c1" class="control-label" style="width:70px;text-align: right;">股份</label>#}
{#                        <input type="checkbox" id="c1" name="com" class="checkbox input-inline" value="1">#}
{#                        <label for="c2" class="control-label" style="width:70px;text-align: right;">精一</label>#}
{#                        <input type="checkbox" id="c2" name="com" class="checkbox input-inline" value="2">#}
{#                        <label for="c3" class="control-label" style="width:70px;text-align: right;">科威</label>#}
{#                        <input type="checkbox" id="c3" name="com" class="checkbox input-inline" value="3">#}
{#                    </div>#}
{#                    <div class="col-sm-12">#}
{#                        <label for="c4" class="control-label" style="width:70px;text-align: right;">医疗</label>#}
{#                        <input type="checkbox" id="c4" name="com" class="checkbox input-inline" value="4">#}
{#                        <label for="c5" class="control-label" style="width:70px;text-align: right;">柏克</label>#}
{#                        <input type="checkbox" id="c5" name="com" class="checkbox input-inline" value="5">#}
{#                        <label for="c6" class="control-label" style="width:70px;text-align: right;">科技</label>#}
{#                        <input type="checkbox" id="c6" name="com" class="checkbox input-inline" value="6">#}
{#                        <label for="c7" class="control-label" style="width:70px;text-align: right;">浙子</label>#}
{#                        <input type="checkbox" id="c7" name="com" class="checkbox input-inline" value="7">#}
{#                    </div>#}
{#                </div>#}
{#                <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>#}
{#                    <button type="button" class="btn btn-primary" onclick="send_group_company()">确认</button>#}
{#                </div>#}
{#            </form>#}
{#        </div><!-- /.modal-content -->#}
{#    </div><!-- /.modal -->#}
{#    </div>#}
<script src="/static/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    function add(){
        var group_name = $.trim($('#add_name').val())
        if(group_name==="")
        {
            $('#err_message').html("角色名称不能为空!")
        }
        else{
            var data={
            "group_name":group_name,
            "perm1":$('#add_perm1').is(":checked"),
            "perm2":$('#add_perm2').is(":checked"),
            "perm3":$('#add_perm3').is(":checked"),
            "perm4":$('#add_perm4').is(":checked"),
            "perm5":$('#add_perm5').is(":checked"),
            "perm6":$('#add_perm6').is(":checked"),
            "perm7":$('#add_perm7').is(":checked"),
            'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val()
        }

            $.ajax({
            url:'add_role/',
            type:"POST",
            data:data,
            success:function(res){
                if(res.status === -1) {
                    $('#err_message').html("角色名称已存在!")
                }
                else{
                   $('#add').modal('hide')
                    var symbolString ='<td style="text-align: center"><div class="glyphicon glyphicon-ok" style="margin: 0 auto"></div></td>'
                    var noString ='<td style="text-align: center"></td>'
                    var groupnameS = '<td style="text-align: center" onclick="get_group_company('+res.id+')">' + res.name + '</td>'
                    var perm1S,perm2S,perm3S,perm4S,perm5S,perm6S,perm7S
                    perm1S = res.perm_list.indexOf("product_information_inquiry")>-1?symbolString:noString
                    perm2S = res.perm_list.indexOf("product_information_manage_new")>-1?symbolString:noString
                    perm3S = res.perm_list.indexOf("product_information_manage_update")>-1?symbolString:noString
                    perm4S = res.perm_list.indexOf("product_information_manege_check")>-1?symbolString:noString
                    perm5S = res.perm_list.indexOf("product_attribute_management")>-1?symbolString:noString
                    perm6S = res.perm_list.indexOf("user_right_management_user")>-1?symbolString:noString
                    perm7S = res.perm_list.indexOf("user_right_management_role")>-1?symbolString:noString
                    var operationS ='<td>' +
                    '<button type="button" class="btn btn-success btn-sm"  ' +
                    'data-toggle="modal" data-target="#modify" onclick="goModify('+res.id+')">修改</button>' +
                    '<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" ' +
                    'data-target="#delete" style="margin-left:9px" onclick="goDelete('+res.id+')">删除</button>' +
                    '</td>'
                    var htmlS = '<tr id="'+res.id+'">'+groupnameS+perm1S+perm2S+perm3S+perm4S+perm5S+perm6S+perm7S+operationS+'</tr>'
                    $('#role_info_table').append(htmlS)
                }
            },
            error:function(res){}
        })
        }
    }
    function goModify(id){
        $("#err_message2").html("")
        $('#modify_company_id').val(id)
        $('#modify_id').val(id)
        for(var i=0;i<document.getElementById(id).children.length-1;i++){
            var dom = document.getElementById(id).children.item(i)
            if(i===0){
                $('#modify_name').val(dom.innerHTML)
            }
            else{
                console.log(dom.children.length)
                if(dom.children.length!==0){
                    $('#modify_perm'+i).prop("checked",true)
                }else{
                    $('#modify_perm'+i).prop("checked",false)
                }
            }
        }
    }
    function modify(){
        var group_name = $.trim($('#modify_name').val())
        if(group_name==="")
        {
            $('#err_message2').html("角色名称不能为空!")
        }
        else
        {
            var data = {
            "group_id":$('#modify_id').val(),
            "group_name":group_name,
            "perm1":$('#modify_perm1').is(":checked"),
            "perm2":$('#modify_perm2').is(":checked"),
            "perm3":$('#modify_perm3').is(":checked"),
            "perm4":$('#modify_perm4').is(":checked"),
            "perm5":$('#modify_perm5').is(":checked"),
            "perm6":$('#modify_perm6').is(":checked"),
            "perm7":$('#modify_perm7').is(":checked"),
            'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val()
        }
            $.ajax({
            url:'modify/',
            type:'POST',
            data:data,
            success:function(res){
                if(res.status===-1)
                {
                    $('#err_message2').html("角色名称已存在!")
                }
                else
                {
                    $('#modify').modal('hide')
                    var symString = '<div class="glyphicon glyphicon-ok" style="margin: 0 auto">'
                    var perm_arry = new Array()
                    perm_arry.push("product_information_inquiry")
                    perm_arry.push("product_information_manage_new")
                    perm_arry.push("product_information_manage_update")
                    perm_arry.push("product_information_manege_check")
                    perm_arry.push("product_attribute_management")
                    perm_arry.push("user_right_management_user")
                    perm_arry.push("user_right_management_role")
                    document.getElementById(res.id).children.item(0).innerHTML=res.name
                    for(var i=0;i<7;i++){
                        var dom = document.getElementById(res.id).children.item(i+1)
                        if(res.perm_list.indexOf(perm_arry[i])>-1){
                            dom.innerHTML = symString
                        }
                        else{
                        dom.innerHTML = ''
                        }
                    }
                }
            },
            error:function(){
                $('#err_message2').html("服务器出错了!")
            }
        })
        }

    }
    function goDelete(id){
       var name = document.getElementById(id).children.item(0).innerHTML
        $('#delete_id').val(id)
        $('#s_delete').html(name)
    }
    function Delete_it(){
        var id = $('#delete_id').val()
        $('#delete').modal('hide')
        $.ajax({
            url:'delete',
            type:'get',
            data:{"id":id},
            success:function(res){
                console.log(res)
                if(res.status===0){
                    var child = document.getElementById(id)
                    child.parentNode.removeChild(child)
                }
            },
            error:function(){

            }
        })
    }
    function goAdd(){
        $('#err_message').html("")
        $('#add_name').html("")
        for(var i=1;i<=7;i++){
            $('#add_perm'+i).attr("checked",false)
        }
    }
    function get_group_company(id) {
        {#var name = document.getElementById(id).children.item(0).innerHTML#}
        {#$('#group_for_Com').html(name)#}
        {#$('#modify_company_id').val(id)#}
        {#$.ajax({#}
        {#    url:'get_group_company',#}
        {#    type:'get',#}
        {#    data:{"id":id},#}
        {#    success:function(res) {#}
        {#        $("[name='com']").each(function(){#}
        {#           var q= res.comStr.indexOf($(this).val())>-1#}
        {#            if(q===true) {#}
        {#                $(this).prop("checked",true)#}
        {#            }#}
        {#            else{#}
        {#                $(this).prop("checked",false)#}
        {#            }#}
        {#        })#}
        {#        $('#modify_company').modal("show")#}
        {#    },#}
        {#    error:function(res){}#}
        //})

    }
    {#function send_group_company(){#}
    {#    var id = $('#modify_company_id').val()#}
    {#    var list = [] // 保存角色所属的公司信息#}
    {#    $("[name='com']").each(function(){  //可以获得所有的参数列表#}
    {#        if($(this).is(":checked")){#}
    {#            list.push($(this).val())#}
    {#        }#}
    {#    })#}
    {#    console.log(list)#}
    {#    $.ajax({#}
    {#        url:'send_group_company/',#}
    {#        type:'POST',#}
    {#        traditional:true,#}
    {#        data:{#}
    {#            "id":id,#}
    {#            "list":JSON.stringify(list),#}
    {#            'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val()#}
    {#        },#}
    {#        success:function(res) {#}
    {#            console.log(res)#}
    {#            $('#modify_company').modal("hide")#}
    {#        },#}
    {#        error:function(res) {}#}
    {#    })#}
    //}
</script>
{% endblock %}

{% block footer_js %}
    <!-- Morris.js charts -->
    <script src="/static/js/raphael/raphael-min.js"></script>
    <script src="/static/plugins/morris/morris.min.js"></script>

    <script src="/static/plugins/jquery.blockui.min.js"></script>
    <script src="/static/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/static/js/metronic.js"></script>
    <script src="/static/js/table-ext.js"></script>
    <script src="/static/js/datatable.js"></script>
    <script src="/static/js/jPages.js"></script>
{% endblock %}
