{% extends 'base1.html' %}

{% block header_js %}
    <link rel="stylesheet" href="/static/plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/static/css/components.css">
    <link rel="stylesheet" href="/static/css/jpage.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="/static/plugins/morris/morris.css">
    <script src="/static/js/echarts/echarts.min.js"></script>
{% endblock %}


{% block content %}
    <div class="box box-solid" id="tablebox" style="padding-left: 20px;padding-right: 20px">
        <div class="box-header with-border">
            <h3>产品能力展示</h3>
        </div>
        <div class="box-body">
            <form method="post" action="{% url 'page_show_product_search' %}" style="float: left;margin-left: 20px">
                {% csrf_token %}
                <div class="row" style="margin-top: 0px" id="company_checkbox">
                    <label><b>公司</b></label>
                    <input class="" type='checkbox' value="1" name="check_box_list"><label>股份</label>
                    <input class="" type='checkbox' value="2" name="check_box_list"><label>精一</label>
                    <input class="" type='checkbox' value="3" name="check_box_list"><label>科威</label>
                    <input class="" type='checkbox' value="4" name="check_box_list"><label>医疗</label>
                    <input class="" type='checkbox' value="5" name="check_box_list"><label>柏克</label>
                    <input class="" type='checkbox' value="6" name="check_box_list"><label>科技</label>
                    <input class="" type='checkbox' value="7" name="check_box_list"><label>浙子</label>
                    <button type="button" class="btn btn-sm green checkall" id="checkall"><i class="fa fa-check"></i>
                        全选/反选
                    </button>
                    <button type="button" class="btn btn-warning btn-sm red clearAll" id="clearall"><i
                            class="fa fa-times"></i> 清除
                    </button>
                </div>

                <div class="row" style="margin-top: 20px;margin-bottom: 20px">
                    <label><b>属性</b></label>
                    <label style="letter-spacing: 0.35em">成熟度 </label>
                    <select class="form-control input-inline input-small input-sm form-filter select "
                            name="maturity__first_class" data-placeholder='成熟度' style="width: 145px">
                        <option value=''></option>
                        {% for s in maturity %}
                            <option value="{{ s.first_class }}">{{ s.meaning }}</option>
                        {% endfor %}
                    </select>

                    <label style="letter-spacing: 0.35em">自主度</label>
                    <select class="form-control input-inline input-small input-sm form-filter select"
                            name="independence__first_class" data-placeholder='自主度' style="width: 145px">
                        <option value=''></option>
                        {% for s in independence %}
                            <option value="{{ s.first_class }}">{{ s.meaning }}</option>
                        {% endfor %}
                    </select>

                    <label>业务领域</label>
                    <select class="form-control input-inline input-small input-sm form-filter select"
                            name="business__first_class" data-placeholder='业务领域' style="width: 145px">
                        <option value=''></option>
                        {% for s in business %}
                            <option value="{{ s.first_class }}">{{ s.meaning }}</option>
                        {% endfor %}
                    </select>

                    <label>技术形态</label>
                    <select class="form-control input-inline input-small input-sm form-filter select"
                            name="technology__first_class" data-placeholder='技术形态' style="width: 145px">
                        <option value=''></option>
                        {% for s in technology %}
                            <option value="{{ s.first_class }}">{{ s.meaning }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-sm yellow filter-submit" style="margin-left:100px"><i
                            class="fa fa-search"></i> 查询
                    </button>
                    <a type="button" class="btn btn-sm red filter-cancel text-right"
                       href="{% url 'page_show_product' %}"><i class="fa fa-times"></i> 取消查询</a>
                </div>
            </form>
        </div>
        <section class="content" style="margin-bottom: -80px">
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-7 col-md-12 col-sm-12">
                    <div class="box box-success">
                        <div class="box-header">
                            <h3 class="box-title">成熟度-自主度</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                        class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-footer text-black">
                            {#                            <div id="containerl1" style="width: 700px;height:420px;" height="700" width="420"></div>#}
                            <div id="containerl1" style="width: 100%;height:420px;"></div>

                            <script type="text/javascript">
                                var dom = document.getElementById("containerl1");
                                var myChart = echarts.init(dom);
                                var app = {};
                                option = null;
                                app.title = '成熟度-自主度';

                                var legendData1 = {{ independence_list1|safe }};
                                var legendData2 = {{ maturity_list1|safe }};

                                var data1 = {{ maturity_independence }}
                                    data1 = data1.map(function (item) {
                                        return [item[1], item[0], item[2] || '-'];
                                    });

                                option = {
                                    tooltip: {
                                        trigger: 'item',
                                        position: 'top',
                                        {#formatter: function (params){#}
                                        {#    console.log(params)#}
                                        {##}
                                    },
                                    animation: false,
                                    grid: {
                                        height: '65%',
                                        y: '8%',
                                        x: '8%'
                                    },
                                    xAxis: {
                                        name:'成熟度',
                                        type: 'category',
                                        data: legendData2,
                                        splitArea: {
                                            show: true
                                        }
                                    },
                                    yAxis: {
                                        name:'自主度',
                                        type: 'category',
                                        data: legendData1,
                                        splitArea: {
                                            show: true
                                        }
                                    },
                                    visualMap: {
                                        min: 0,
                                        max: {{ maturity_independence_max_num }},
                                        calculable: true,
                                        orient: 'horizontal',
                                        left: 'center',
                                        bottom: '8%',
                                        inRange: {
                                            color: ['#98cafb', '#033668']
                                        }
                                    },
                                    series: [{
                                        name: '产品数量',
                                        type: 'heatmap',
                                        data: data1,
                                        label: {
                                            normal: {
                                                show: true
                                            }
                                        },
                                        itemStyle: {
                                            emphasis: {
                                                shadowBlur: 10,
                                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                                            }
                                        }
                                    }]
                                };

                                if (option && typeof option === "object") {
                                    myChart.setOption(option, true);
                                }
                            </script>
                            <span>产品的成熟度和自主程度是衡量产品效益的重要参考因素，因此产品能力的成熟度-自主度的（M-I）交叉矩阵所代表的是两个维度上不同级别的产品能力，便于公司内部评估分层管理。</span>

                        </div>

                    </div>
                    <div class="box box-success">
                        <div class="box-header">
                            <h3 class="box-title">业务领域-技术形态</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                        class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-footer text-black">
                            <div id="containerl2" style="width: 100%;height:420px;"></div>
                            <script type="text/javascript">
                                var dom = document.getElementById("containerl2");
                                var myChart = echarts.init(dom);
                                var app = {};
                                option = null;
                                app.title = '业务领域-技术形态';

                                var legendData1 = {{ business_list1|safe }};
                                var legendData2 = {{ technology_list|safe }};

                                var data2 = {{ business_technology }}
                                    data2 = data2.map(function (item) {
                                        return [item[1], item[0], item[2] || '-'];
                                    });

                                option = {
                                    tooltip: {
                                        position: 'top'
                                    },
                                    animation: false,
                                    grid: {
                                        height: '65%',
                                        x: '8%',
                                        y: '8%'
                                    },
                                    xAxis: {
                                        name:'业务领域',
                                        type: 'category',
                                        data: legendData1,
                                        splitArea: {
                                            show: true
                                        }
                                    },
                                    yAxis: {
                                        name:'技术形态',
                                        type: 'category',
                                        data: legendData2,
                                        splitArea: {
                                            show: true
                                        }
                                    },
                                    visualMap: {
                                        min: 0,
                                        max: {{ business_technology_max_num }},
                                        calculable: true,
                                        orient: 'horizontal',
                                        left: 'center',
                                        bottom: '8%',
                                        inRange: {
                                            color: ['#88f7fb', '#023e41']
                                        }
                                    },
                                    series: [{
                                        name: '产品数量',
                                        type: 'heatmap',
                                        data: data2,
                                        label: {
                                            normal: {
                                                show: true
                                            }
                                        },
                                        itemStyle: {
                                            emphasis: {
                                                shadowBlur: 10,
                                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                                            }
                                        }
                                    }]
                                };
                                ;
                                if (option && typeof option === "object") {
                                    myChart.setOption(option, true);
                                }
                            </script>
                            <span>产品的业务领域和技术形态是产品应用方向的重要参考因素，因此产品能力的业务领域-技术形态的（B-T）交叉矩阵所代表的是各个细分行业领域所适用的产品能力，便于公司外部应用评估。</span>

                        </div>
                    </div>
                </section>
                <!-- /.Left col -->
                <!-- right col (We are only adding the ID to make the widgets sortable)-->
                <section class="col-lg-5 col-md-12 col-sm-12">
                    <!-- 业务领域 -->
                    <div class="box box-success">
                        <div class="box-header ui-sortable-handle" style="cursor: move;">
                            <h3 class="box-title">业务领域</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                        class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div id="container1" style="width: 100%;height:189px"></div>
                            <script type="text/javascript">
                                var dom = document.getElementById("container1");
                                var myChart = echarts.init(dom);
                                var app = {};
                                option = null;
                                product_list = {"name": '电源业务大类', "p_l": ['sss', 'rr', 'ggg', 'rrr', 'rrrrr']};

                                option = {
                                    title: {
                                        text: '',
                                        subtext: '',
                                        x: 'center'
                                    },
                                    tooltip: {
                                        trigger: 'item',
                                        formatter: "{a} <br/>{b} : {c}个 ({d}%)"
                                        {#formatter:function (params) {#}
                                            {#console.log(params)#}
                                        {##}
                                        {#formatter: function (params) {#}
                                        {#    var $pna = params.name;#}
                                        {#    var res = '';#}
                                        {#    for (var i = 0; i < $product_list.length; i++) {#}
                                        {#        if ($product_list[i].name == $pna) {#}
                                        {#            res = '<span>$product_list[i].p_l</span>'#}
                                        {#            break;#}
                                        {#        }#}
                                        {#    }#}
                                        {#    setTimeout(function () {#}
                                        {#        // 仅为了模拟异步回调#}
                                        {#        callback(ticket, res);//回调函数，这里可以做异步请求加载的一些代码#}
                                        {#    }, 1000)#}
                                        {#    return 'loading';#}
                                        {##}
                                    },
                                    legend: {
                                        type: 'scroll',
                                        orient: 'vertical',
                                        right: 10,
                                        top: 20,
                                        bottom: 20,

                                        data: {{ business_list|safe }},
                                        selected: true

                                    },
                                    series: [
                                        {
                                            name: '产品数量',
                                            type: 'pie',
                                            radius: '55%',
                                            center: ['35%', '50%'],
                                            selectedMode: 'single',
                                            data: {{ business_product1|safe }},
                                            itemStyle: {
                                                emphasis: {
                                                    shadowBlur: 10,
                                                    shadowOffsetX: 0,
                                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                                },
                                                normal: {
                                                    label: {
                                                        show: true,
                                                        formatter: '{d}%'
                                                    },
                                                    labelLine: {show: true}
                                                }
                                            }
                                        }

                                    ]
                                };

                                if (option && typeof option === "object") {
                                    myChart.setOption(option, true);
                                }
                            </script>
                        </div>
                    </div>

                    <!-- 技术形态 -->
                    <div class="box box-success">
                        <div class="box-header ui-sortable-handle" style="cursor: move;">
                            <h3 class="box-title">技术形态</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                        class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div id="container2" style="width: 100%;height:189px"></div>
                            <script type="text/javascript">
                                var dom = document.getElementById("container2");
                                var myChart = echarts.init(dom);
                                var app = {};
                                option = null;

                                option = {
                                    title: {
                                        text: '',
                                        subtext: '',
                                        x: 'center'
                                    },
                                    tooltip: {
                                        trigger: 'item',
                                        formatter: "{a} <br/>{b} : {c}个 ({d}%)"
                                    },
                                    legend: {
                                        type: 'scroll',
                                        orient: 'vertical',
                                        right: 70,
                                        top: 20,
                                        bottom: 20,
                                        data: {{ technology_list|safe }},
                                        selected: true,
                                    },
                                    series: [
                                        {
                                            name: '产品数量',
                                            type: 'pie',
                                            radius: '55%',
                                            center: ['35%', '50%'],
                                            selectedMode: 'single',
                                            data: {{ technology_product1|safe }},
                                            itemStyle: {
                                                emphasis: {
                                                    shadowBlur: 10,
                                                    shadowOffsetX: 0,
                                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                                },
                                                normal: {
                                                    label: {
                                                        show: true,
                                                        formatter: '{d}%'
                                                    },
                                                    labelLine: {show: true}
                                                }
                                            }
                                        }
                                    ]
                                }

                                if (option && typeof option === "object") {
                                    myChart.setOption(option, true);
                                }
                            </script>
                        </div>
                    </div>
                    <!-- 成熟度 -->
                    <div class="box box-success">
                        <div class="box-header ui-sortable-handle" style="cursor: move;">
                            <h3 class="box-title">成熟度</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                        class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div id="container3" style="width: 100%;height:189px"></div>
                            <script type="text/javascript">
                                var dom = document.getElementById("container3");
                                var myChart = echarts.init(dom);
                                var app = {};
                                option = null;

                                option = {
                                    title: {
                                        text: '',
                                        subtext: '',
                                        x: 'center'
                                    },
                                    tooltip: {
                                        trigger: 'item',
                                        formatter: "{a} <br/>{b} : {c}个 ({d}%)"
                                    },
                                    legend: {
                                        type: 'scroll',
                                        orient: 'vertical',
                                        right: -10,
                                        top: 20,
                                        bottom: 20,
                                        data: {{ maturity_list|safe }},
                                        selected: true,
                                    },
                                    series: [
                                        {
                                            name: '产品数量',
                                            type: 'pie',
                                            radius: '55%',
                                            center: ['35%', '50%'],
                                            selectedMode: 'single',
                                            data: {{ maturity_product1|safe }},
                                            itemStyle: {
                                                emphasis: {
                                                    shadowBlur: 10,
                                                    shadowOffsetX: 0,
                                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                                },
                                                normal: {
                                                    label: {
                                                        show: true,
                                                        formatter: '{d}%'
                                                    },
                                                    labelLine: {show: true}
                                                }
                                            }
                                        }
                                    ]
                                }

                                if (option && typeof option === "object") {
                                    myChart.setOption(option, true);
                                }
                            </script>
                        </div>
                    </div>

                    <!-- 自主度 -->
                    <div class="box box-success">
                        <div class="box-header ui-sortable-handle" style="cursor: move;">
                            <h3 class="box-title">自主度</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                        class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div id="container4" style="width: 100%;height:189px"></div>
                            <script type="text/javascript">
                                var dom = document.getElementById("container4");
                                var myChart = echarts.init(dom);
                                var app = {};
                                option = null;

                                option = {
                                    title: {
                                        text: '',
                                        subtext: '',
                                        x: 'center'
                                    },
                                    tooltip: {
                                        trigger: 'item',
                                        formatter: "{a} <br/>{b} : {c} 个 ({d}%)"
                                    },
                                    legend: {
                                        type: 'scroll',
                                        orient: 'vertical',
                                        right: -10,
                                        top: 20,
                                        bottom: 20,
                                        data: {{ independence_list|safe }},
                                        selected: true,
                                    },
                                    series: [
                                        {
                                            name: '产品数量',
                                            type: 'pie',
                                            radius: '55%',
                                            center: ['35%', '50%'],
                                            selectedMode: 'single',
                                            data: {{ independence_product1|safe }},
                                            itemStyle: {
                                                emphasis: {
                                                    shadowBlur: 10,
                                                    shadowOffsetX: 0,
                                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                                },
                                                normal: {
                                                    label: {
                                                        show: true,
                                                        formatter: '{d}%'
                                                    },
                                                    labelLine: {show: true}
                                                }
                                            }
                                        }
                                    ]
                                }

                                if (option && typeof option === "object") {
                                    myChart.setOption(option, true);
                                }
                            </script>
                        </div>
                    </div>

                </section>
                <!-- right col -->
            </div>
            <!-- /.row (main row) -->

        </section>
    </div>









{% endblock %}

{% block footer_js %}
    <!-- Morris.js charts -->
    <script src="/static/js/raphael/raphael-min.js"></script>
    <script src="/static/plugins/morris/morris.min.js"></script>

    <script src="/static/plugins/jquery.blockui.min.js"></script>
    <script src="/static/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/static/js/metronic.js"></script>
    <script src="/static/js/table-ext.js"></script>
    <script src="/static/js/datatable.js"></script>
    <script src="/static/js/jPages.js"></script>
    <script>
        $('#checkall').click(function () {
            //全选按钮
            $("#company_checkbox input[type='checkbox']").each(function () {
                var check = $(this).is(":checked");
                if (!check) {
                    {#console.log(true)#}
                    $(this).prop("checked", true);
                } else {
                    {#console.log(false)#}
                    $(this).prop("checked", false);
                }
                {#$(this).toggleClass("selected")#}
            });

        })
        $('#clearall').click(function () {
            $("#company_checkbox input[type='checkbox']").each(function () {
                $(this).prop("checked", false);
            })
        })
    </script>
{% endblock %}
