{% extends 'base1.html' %}

{% block header_js %}
    <link rel="stylesheet" href="/static/plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/static/css/components.css">
    <link rel="stylesheet" href="/static/css/jpage.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="/static/plugins/morris/morris.css">

{% endblock %}


{% block content %}
    <div class="box box-solid" id="tablebox" style="padding-left: 30px;padding-right: 30px">
        <div class="box-header with-border">
            <h3 class="text-left">产品能力属性化分类表</h3>
        </div>
        <div class="box-body">
            <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <div style="clear:both"></div>

                <div class="table-container no-padding tab-pane active" id="" style="padding:14px">
                    <div class="table-actions-wrapper">
                        <table border="1" id='product_detail' class="table table-bordered table-hover"
                               style="text-align: left">
                            <tbody>
                            <tr>
                                <th style="vertical-align: middle;text-align:center; width: 80px" bgcolor="#f0ffff">
                                    <b>属性编码</b>
                                <th style="vertical-align: middle;text-align:center;width: 80px" bgcolor="#f0ffff">
                                    <b>大类编码</b>
                                <th style="vertical-align: middle;text-align:center;width: 80px" bgcolor="#f0ffff">
                                    <b>小类编码</b>
                                <th style="vertical-align: middle;text-align:center;width: 200px" bgcolor="#f0ffff">
                                    <b>含义</b>
                                <th style="vertical-align: middle;text-align:center;" bgcolor="#f0ffff">
                                    <b>说明</b>
                            </tr>
                            {% for i in maturity %}
                                {% if i.ACT == 'a' %}
                                    <tr>
                                        <td style="vertical-align: middle;text-align:center"><b>{{ i.attribute }}</b>
                                        </td>
                                        <td style="vertical-align: middle;text-align:center">{{ i.first_class }}</td>
                                        <td style="vertical-align: middle;text-align:center">{{ i.second_class }}</td>
                                        <td style="vertical-align: middle;text-align:center"><b>{{ i.meaning }}</b></td>
                                        <td>{{ i.information }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td style="vertical-align: middle;text-align:center">{{ i.attribute }}</td>
                                        <td style="vertical-align: middle;text-align:center">{{ i.first_class }}</td>
                                        <td style="vertical-align: middle;text-align:center">{{ i.second_class }}</td>
                                        <td style="vertical-align: middle;text-align:center">{{ i.meaning }}</td>
                                        <td>{{ i.information }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            {% for i in independence %}
                                {% if i.ACT == 'a' %}
                                    <tr>
                                        <td style="vertical-align: middle;text-align:center"><b>{{ i.attribute }}</b>
                                        </td>
                                        <td style="vertical-align: middle;text-align:center">{{ i.first_class }}</td>
                                        <td style="vertical-align: middle;text-align:center">{{ i.second_class }}</td>
                                        <td style="vertical-align: middle;text-align:center"><b>{{ i.meaning }}</b></td>
                                        <td>{{ i.information }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td style="vertical-align: middle;text-align:center">{{ i.attribute }}</td>
                                        <td style="vertical-align: middle;text-align:center">{{ i.first_class }}</td>
                                        <td style="vertical-align: middle;text-align:center">{{ i.second_class }}</td>
                                        <td style="vertical-align: middle;text-align:center">{{ i.meaning }}</td>
                                        <td>{{ i.information }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            {% for i in business %}
                                {% if i.ACT == 'a' %}
                                    <tr>
                                        <td style="vertical-align: middle;text-align:center"><b>{{ i.attribute }}</b>
                                        </td>
                                        <td style="vertical-align: middle;text-align:center">{{ i.first_class }}</td>
                                        <td style="vertical-align: middle;text-align:center">{{ i.second_class }}</td>
                                        <td style="vertical-align: middle;text-align:center"><b>{{ i.meaning }}</b></td>
                                        <td>{{ i.information }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td style="vertical-align: middle;text-align:center">{{ i.attribute }}</td>
                                        <td style="vertical-align: middle;text-align:center">{{ i.first_class }}</td>
                                        <td style="vertical-align: middle;text-align:center">{{ i.second_class }}</td>
                                        <td style="vertical-align: middle;text-align:center">{{ i.meaning }}</td>
                                        <td>{{ i.information }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            {% for i in technology %}
                                {% if i.ACT == 'a' %}
                                    <tr>
                                        <td style="vertical-align: middle;text-align:center"><b>{{ i.attribute }}</b>
                                        </td>
                                        <td style="vertical-align: middle;text-align:center">{{ i.first_class }}</td>
                                        <td style="vertical-align: middle;text-align:center">{{ i.second_class }}</td>
                                        <td style="vertical-align: middle;text-align:center"><b>{{ i.meaning }}</b></td>
                                        <td>{{ i.information }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td style="vertical-align: middle;text-align:center">{{ i.attribute }}</td>
                                        <td style="vertical-align: middle;text-align:center">{{ i.first_class }}</td>
                                        <td style="vertical-align: middle;text-align:center">{{ i.second_class }}</td>
                                        <td style="vertical-align: middle;text-align:center">{{ i.meaning }}</td>
                                        <td>{{ i.information }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {#                        M结束#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_js %}
    <!-- Morris.js charts -->
    <script src="/static/js/raphael/raphael-min.js"></script>
    <script src="/static/plugins/morris/morris.min.js"></script>
    <script src="/static/plugins/jquery.blockui.min.js"></script>
    <script src="/static/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/static/js/metronic.js"></script>
    <script src="/static/js/table-ext.js"></script>
    <script src="/static/js/datatable.js"></script>
    <script src="/static/js/jPages.js"></script>
    <script>
        function classDelete(text, id) {
            $('#a_delete').attr('href', text)
            $('#s_delete').html($('#attribute_id_' + id).html())
        }
    </script>

{% endblock %}
