{% extends 'base1.html' %}

{% block header_js %}
    <link rel="stylesheet" href="/static/plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/static/css/components.css">
    <link rel="stylesheet" href="/static/css/jpage.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="/static/plugins/morris/morris.css">
{% endblock %}


{% block content %}
<div class="modal fade" id="add" tabindex="-1"
     role="dialog" aria-labelledby="addLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
                <h5 class="modal-title" id="addLabel" style="font-weight:bold">新增用户</h5>
            </div>
            <form style=";float:none" class="form-horizontal" method="post" action="{% url 'add_user' %}">
                {% csrf_token %}
                <div class="modal-form" style="margin-top: 0">
                    <div class="col-sm-6" style=";height:45px;text-align:center">
                        <div style="margin-top: 8px">
                            <label for="add_name" class="control-label">用户</label>
                            <div class="col-sm-10">
                                <input type="text" id="add_name" name="add_name"
                                    placeholder="请输入用户名" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="height:45px;text-align:center">
                        <div style="margin-top: 8px">
                            <label for="add_gender" class="control-label">性别</label>
                                <div class="col-sm-10">
                                    <select type="text" id="add_gender" name="add_gender" class="form-control">
                                        <option value="1" selected>男</option>
                                        <option value="0">女</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    <div class="col-sm-6" style="height:45px;text-align:center">
                        <div style="margin-top: 8px">
                            <label for="add_company" class="control-label">公司</label>
                                <div class="col-sm-10">
                                    <select type="text" id="add_company" name="add_company" class="form-control">
                                        <option value="1" selected>股份</option>
                                        <option value="2">精一</option>
                                        <option value="3">科威</option>
                                        <option value="4">医疗</option>
                                        <option value="5">柏克</option>
                                        <option value="6">科技</option>
                                        <option value="7">浙子</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    <div class="col-sm-6" style="height:45px;text-align:center">
                        <div style="margin-top: 8px">
                            <label for="add_department" class="control-label">部门</label>
                            <div class="col-sm-10">
                                <input type="text" id="add_department" name="add_department" class="form-control" value="" placeholder="部门名称">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="height:45px;text-align: center">
                        <div style="margin-top: 8px">
                            <label for="add_position" class="control-label">职位</label>
                            <div class="col-sm-10">
                                <input type="text" id="add_position" name="add_position" class="form-control" value="" placeholder="职位">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="height:45px;text-align: center">
            <div style="margin-top: 8px">
                 <label for="role" class="control-label">角色</label>
                 <div class="col-sm-10">
                    <select type="text" id="add_role" name="add_role" class="form-control">
                        {% for group in groups %}
                        <option value="{{ group.id }}">{{ group.name }}</option>
                        {% endfor %}
                    </select>
                 </div>
             </div>
            </div>
                <div class="col-sm-6" style=";height:45px;text-align:center">
                    <div style="margin-top: 8px">
                        <label for="add_phone" class="control-label">电话</label>
                        <div class="col-sm-10">
                            <input type="text" id="add_phone" name="add_phone"
                                placeholder="请输入电话" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style=";height:45px;text-align:center">
                    <div style="margin-top: 8px">
                        <label for="add_email" class="control-label">邮箱</label>
                        <div class="col-sm-10">
                            <input type="text" id="add_email" name="add_email"
                                placeholder="请输入邮箱" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-sm-12" style="height: 20px;margin-top:8px" id="err_message"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">确认</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
    </div>
<div class="modal fade" id="modify" tabindex="-1"
     role="dialog" aria-labelledby="modifyLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
                <h5 class="modal-title" id="modifyLabel" style="font-weight:bold">修改用户信息</h5>
            </div>
            <form style=";float:none" class="form-horizontal" enctype="application/x-www-form-urlencoded">
                {% csrf_token %}
                <div class="modal-form" style="margin-top: 0">
                    <div class="col-sm-6" style=";height:45px;text-align:center">
                        <div style="margin-top: 8px">
                            <label for="modify_name" class="control-label">用户</label>
                            <div class="col-sm-10">
                                <input type="text" id="modify_name" name="modify_name"
                                    placeholder="请输入用户名" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="height:45px;text-align:center">
                        <div style="margin-top: 8px">
                            <label for="modify_gender" class="control-label">性别</label>
                                <div class="col-sm-10">
                                    <select type="text" id="modify_gender" name="modify_gender" class="form-control">
                                        <option value="1">男</option>
                                        <option value="0">女</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    <div class="col-sm-6" style="height:45px;text-align:center">
                        <div style="margin-top: 8px">
                            <label for="modify_company" class="control-label">公司</label>
                                <div class="col-sm-10">
                                    <select type="text" id="modify_company" name="modify_company" class="form-control">
                                        <option value="1">股份</option>
                                        <option value="2">精一</option>
                                        <option value="3">科威</option>
                                        <option value="4">医疗</option>
                                        <option value="5">柏克</option>
                                        <option value="6">科技</option>
                                        <option value="7">浙子</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    <div class="col-sm-6" style="height:45px;text-align:center">
                        <div style="margin-top: 8px">
                            <label for="modify_department" class="control-label">部门</label>
                            <div class="col-sm-10">
                                <input type="text" id="modify_department" name="modify_department" class="form-control" value="" placeholder="部门">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="height:45px;text-align: center">
                        <div style="margin-top: 8px">
                            <label for="modify_position" class="control-label">职位</label>
                            <div class="col-sm-10">
                                <input type="text" id="modify_position" name="modify_position" class="form-control" value="" placeholder="职位">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="height:45px;text-align: center">
            <div style="margin-top: 8px">
                 <label for="role" class="control-label">角色</label>
                 <div class="col-sm-10">
                    <select type="text" id="modify_role" name="modify_role" class="form-control">
                        {% for group in groups %}
                        <option value="{{ group.id }}">{{ group.name }}</option>
                        {% endfor %}
                    </select>
                 </div>
             </div>
            </div>
                    <div class="col-sm-6" style=";height:45px;text-align:center">
                        <div style="margin-top: 8px">
                            <label for="modify_phone" class="control-label">电话</label>
                            <div class="col-sm-10">
                                <input type="text" id="modify_phone" name="modify_phone"
                                    placeholder="请输入电话" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style=";height:45px;text-align:center">
                        <div style="margin-top: 8px">
                            <label for="modify_email" class="control-label">邮箱</label>
                            <div class="col-sm-10">
                                <input type="text" id="modify_email" name="modify_email"
                                    placeholder="请输入邮箱" class="form-control">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12" style="height: 20px;margin-top:8px">
                    <input type="hidden" id="modify_id"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="modify_it">确认</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
    </div>
<div class="modal fade" id="delete" tabindex="-1"
     role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title" id="deleteLabel" style="font-weight: bold">删除用户信息</h5>
            </div>
            <div class="modal-body" style="padding-top: 0">
                这将删除用户&nbsp;<span id="s_delete"></span>&nbsp;在数据库中的所有信息，确认删除吗？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger"><a href="" style="color:white" id="a_delete">确认</a></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
    </div>
<div class="container">
    <div style=";height: 40px">
        <h1 style="font-weight: bold;padding-left: 30px">用户管理</h1>
    </div>
    <div style=";height:125px">
        <form style=";float:none" class="form-horizontal">
         <div class="col-sm-4" style=";height:60px;text-align: center">
             <div style="margin-top: 15px">
                 <label for="name" class="control-label">用户名</label>
                 <div class="col-sm-10">
                    <input type="text" id="name" name="name"
                        placeholder="请输入用户名" class="form-control">
                 </div>
             </div>
         </div>
         <div class="col-sm-4" style="height:60px;text-align:center">
                <div style="margin-top: 15px">
                 <label for="company" class="control-label">公司</label>
                 <div class="col-sm-10">
                    <select type="text" id="company" name="company" class="form-control">
                        <option value="0" selected>所有</option>
                        <option value="1">股份</option>
                        <option value="2">精一</option>
                        <option value="3">科威</option>
                        <option value="4">医疗</option>
                        <option value="5">柏克</option>
                        <option value="6">科技</option>
                        <option value="7">浙子</option>
                    </select>
                 </div>
             </div>
         </div>
         <div class="col-sm-4" style="height:60px;text-align:center">
            <div style="margin-top: 15px">
                 <label for="department" class="control-label">部门</label>
                 <div class="col-sm-10">
                    <input type="text" id="department" name="department" class="form-control" placeholder="部门" value="">
                 </div>
             </div>
         </div>
         <div class="col-sm-4" style="height:60px;text-align: center">
            <div style="margin-top: 15px">
                 <label for="position" class="control-label">职位</label>
                 <div class="col-sm-10">
                    <input type="text" id="position" name="position" class="form-control" placeholder="职位">
                 </div>
             </div>
         </div>
         <div class="col-sm-4" style="height:60px;text-align: center">
            <div style="margin-top: 15px">
                 <label for="role" class="control-label">角色</label>
                 <div class="col-sm-10">
                    <select type="text" id="role" name="role" class="form-control">
                        <option value="0" selected>所有</option>
                        {% for group in groups %}
                        <option value="{{ group.id }}">{{ group.name }}</option>
                        {% endfor %}
                    </select>
                 </div>
             </div>
         </div>
         <div class="col-sm-4" style="height:60px">
            <div style="margin-top: 15px" class="col-sm-10">
                <input type="button" id="search" name="search" value="查询"
                       class="btn btn-large btn-primary btn-block">
             </div>
         </div>
    </form>
    </div>
    <div style=";height: 60px">
        <div class="col-sm-6" >
            <h1 style="font-weight: bold;text-align: left;padding-left: 10px;margin-top: 10px">查询结果</h1>
        </div>
        <div class="col-sm-6">
            <input type="button" class="btn  btn-success" value="新增用户"
                   style=";margin-top:5px;font-size: 25px;margin-left: 260px"
                    data-toggle="modal" data-target="#add">
        </div>
    </div>
    <div style="height:500px;margin-top:15px;">
        <div class="box">
            <div class="box-header">
              <h3 class="box-title" style=";font-weight: bold;margin-left: 15px">用户信息表</h3>
            </div>
            <div class="box-body">
              <table id="userInfo" class="table table-bordered table-hover" >
                <thead>
                <tr>
                  <th style="text-align: center">用户名</th>
                  <th style="text-align: center">性别</th>
                  <th style="text-align: center">所属公司</th>
                  <th style="text-align: center">所属部门</th>
                  <th style="text-align: center">职位</th>
                  <th style="text-align: center">角色</th>
                  <th style="text-align: center">电话</th>
                  <th style="text-align: center">邮箱</th>
                  <th style="text-align: center">创建时间</th>
                  <th style="text-align: center">用户状态</th>
                  <th style="text-align: center">操作</th>
                </tr>
                </thead>
                <tbody id="user_info_table">
                {% for user in users %}
                <tr style="text-align: center">
                  <td id="username_{{ user.id }}">{{ user.username }}</td>
                    {% if user.gender %}
                        <td id="gender_{{ user.id }}">男</td>
                    {% else %}
                        <td id="gender_{{ user.id }}">女</td>
                    {% endif %}
                  <td id="company_{{ user.id }}">{{ user.Company }}</td>
                  <td id="department_{{ user.id }}">{{ user.department }}</td>
                  <td id="position_{{ user.id }}">{{ user.position }}</td>
                  <td id="group_{{ user.id }}">{{ user.group }}</td>
                  <td id="phone_{{ user.id }}">{{ user.phone }}</td>
                  <td id="email_{{ user.id }}">{{ user.email }}</td>
                  <td>{{ user.date_joined }}</td>
                    {% if user.is_active %}
                        <td id="active_{{ user.id }}">正在使用</td>
                    {% else %}
                        <td id="active_{{ user.id }}">已停用</td>
                    {% endif %}
                  <td>
                      <button type="button"class="btn  btn-success btn-sm" data-toggle="modal" data-target="#modify"
                              onclick="goModify('{{ user.id }}')">修改</button>
                      {% if user.is_active %}
                          <button type="button"class="btn btn-info btn-sm" onclick="changeUse('{{ user.id }}')" id="change_{{ user.id }}">停用</button>
                      {% else %}
                          <button type="button"class="btn  btn-info btn-sm" onclick="changeUse('{{ user.id }}')" id="change_{{ user.id }}">启用</button>
                      {% endif %}
                      <button type="button" class="btn  btn-danger btn-sm" data-toggle="modal"
                              data-target="#delete" onclick="goDelete('{% url "delete_user"  user.id %}','{{ user.id }}')">删除</button>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="userInfoSum" id="userInfoSum" role="status" aria-live="polite" style="margin-left: 5px">
                        共有{{ counts }}个用户,这里展示了其中的第{{ start }}位到第{{ end }}位用户
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="paginate">
                        <ul class="pagination">
                            <li class="paginate_button previous" id="userInfo_previous">
                                <a href="#" aria-controls="userInfo" data-dt-idx="0" tabindex="0">
                                    上一页
                                </a>
                            </li>
                            <li class="paginate_button ">
                                <a href="#" aria-controls="userInfo" data-dt-idx="1" tabindex="0">
                                    1
                                </a>
                            </li>
                            <li class="paginate_button active">
                                <a href="#" aria-controls="userInfo" data-dt-idx="2" tabindex="0">
                                    2
                                </a>
                            </li>
                            <li class="paginate_button ">
                                <a href="#" aria-controls="userInfo" data-dt-idx="3" tabindex="0">
                                    3
                                </a>
                            </li>
                            <li class="paginate_button ">
                                <a href="#" aria-controls="userInfo" data-dt-idx="4" tabindex="0">
                                    4
                                </a>
                            </li>
                            <li class="paginate_button next" id="userInfo_next">
                                <a href="#" aria-controls="userInfo" data-dt-idx="5" tabindex="0">
                                    下一页
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
          </div>
    </div>
</div>
<script src="/static/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    function goDelete(text,id){
        $('#a_delete').attr('href',text)
        $('#s_delete').html($('#username_'+id).html())
    }
    function changeUse(id){
        $.ajax({
            url:'active',
            type:'get',
            data:{
                "active_id":id
            },
            success:function(res) {
                if(res.active===false){
                    $('#active_'+id).html("已停用")
                    $('#change_'+id).html("启用")
                }
                else if(res.active===true){
                    $('#active_'+id).html("正在使用")
                    $('#change_'+id).html("停用")
                }

            },
            error:function(res){}
        })
    }
    function goModify(id){

        $('#modify_id').val(id)
        $('#modify_name').val($('#username_'+id).html())
        $('#modify_department').val($('#department_'+id).html())
        $('#modify_position').val($('#position_'+id).html())
        $('#modify_phone').val($('#phone_'+id).html())
        $('#modify_email').val($('#email_'+id).html())
        var opt_gender = document.getElementById("modify_gender")
        for(var i=0;i<opt_gender.options.length;i++)
        {
            if($('#gender_'+id).html()===opt_gender.options[i].innerHTML)
                opt_gender.options[i].selected = "selected"
        }
        var opt_com = document.getElementById("modify_company")
        for(var i=0;i<opt_com.options.length;i++)
        {
            if($('#company_'+id).html()===opt_com.options[i].innerHTML)
                opt_com.options[i].selected = "selected"
        }
        var opt_role = document.getElementById("modify_role")
        for(var i=0;i<opt_role.options.length;i++)
        {
            if($('#group_'+id).html()===opt_role.options[i].innerHTML)
                opt_role.options[i].selected="selected"
        }
    }
    $('#modify_it').click(function(){
          var data = {
              'id': $("#modify_id").val(),
              'username': $('#modify_name').val(),
              'gender': $("#modify_gender").val(),
              'uCompany': $("#modify_company").val(),
              'department': $('#modify_department').val(),
              'position': $('#modify_position').val(),
              'role': $('#modify_role').val(),
              'phone': $('#modify_phone').val(),
              'email': $('#modify_email').val(),
              'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val()
          }
        $.ajax({
            url:'modify/',
            type:'POST',
            data:data,
            async:true,
            success:function(res){
                console.log(res)
                $('#modify').modal('hide')
                var id = data.id
                $('#username_'+id).html(res.username)
                if(res.gender===1)
                    $('#gender_'+id).html('男')
                else
                    $('#gender_'+id).html('女')
                $('#company_'+id).html(res.Company)
                $('#department_'+id).html(res.department)
                $('#position_'+id).html(res.position)
                $('#group_'+id).html(res.group)
                $('#phone_'+id).html(res.phone)
                $('#email_'+id).html(res.email)
            },
            error:function(){
                console.log("出现错误!!")
            }
        });
        return false;
      })
    $('#search').click(function(){
        var data = {
            'username':$('#name').val(),
            'uCompany':$('#company').val(),
            'department':$('#department').val(),
            'position':$('#position').val(),
            'group':$('#role').val(),
            'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val()
        }
        $.ajax({
            url:'search/',
            data:data,
            type:'post',
            async:true,
            success:function(res){
                console.log(res.users)
                $('#user_info_table').html("")
               res.users.forEach(function(value){
                   var deleteUrl = '/user/page_user_management/delete/'+value.id+'/'
                   var usernameString = '<td id="username_' + value.id + '">'+value.username+'</td>'
                   var genderString
                   if(value.gender ===1)
                       genderString = '<td id="gender_'+ value.id + '">' +'男</td>'
                   else
                       genderString = '<td id="gender_'+ value.id + '">' +'女</td>'
                   var companyString ='<td id="company_' + value.id + '">'+value.Company+'</td>'
                   var departString = '<td id="department_' + value.id + '">'+value.department+'</td>'
                   var positionString = '<td id="position_' + value.id + '">'+value.position+'</td>'
                   var groupString = '<td id="group_' + value.id + '">'+value.group+'</td>'
                   var phoneString = '<td id="phone_' + value.id + '">'+value.phone+'</td>'
                   var emailString = '<td id="email_' + value.id + '">'+value.email+'</td>'
                   var dateString = '<td>'+value.date_joined+'</td>'
                   var activeString
                   var useString
                   if(value.is_active===true){
                       activeString = '<td id="active_'+value.id+'">'+'正在使用</td>'
                       useString = '<button type="button"class="btn btn-info btn-sm" onclick="changeUse('
                       +value.id+')" id="change_'+value.id+'">停用</button>'
                   }
                   else{
                       activeString = '<td id="active_'+value.id+'">'+'已停用</td>'
                       useString = '<button type="button"class="btn btn-info btn-sm" onclick="changeUse('
                       +value.id+')" id="change_'+value.id+'">启用</button>'
                   }
                   var modifyString = '<button type="button"class="btn  btn-success btn-sm" data-toggle="modal" data-target="#modify"'
                        +'onclick="goModify('+value.id + ')">修改</button>'
                   var deleteString = '<button type="button" class="btn  btn-danger btn-sm" data-toggle="modal"'+'data-target="#delete" onclick="goDelete('
                       +"'"+deleteUrl+"'"+','+value.id
                            +')">删除</button>'
                   $('#user_info_table').append('<tr style="text-align: center">' + usernameString + genderString +
                       companyString + departString + positionString + groupString + phoneString + emailString +dateString+activeString
                       + '<td>'+ modifyString + useString + deleteString + '</td></tr>')

                })
            },
            error:function(){}
        })
    })
</script>
{% endblock %}

{% block footer_js %}
    <!-- Morris.js charts -->
    <script src="/static/js/raphael/raphael-min.js"></script>
    <script src="/static/plugins/morris/morris.min.js"></script>
    <script src="/static/plugins/jquery.blockui.min.js"></script>
    <script src="/static/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/static/js/metronic.js"></script>
    <script src="/static/js/table-ext.js"></script>
    <script src="/static/js/datatable.js"></script>
    <script src="/static/js/jPages.js"></script>
{% endblock %}
